{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}

         <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <div class="col-sm-12" role="banner">
                  <div data-drupal-messages-fallback="" class="hidden"></div>
               </div>
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                        <article role="article" about="/our-capabilities/" class="node node--type-landing-page node--view-mode-full clearfix">
                           <header>
                           </header>
                           <div class="node__content clearfix">
                              <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-887">
                                 <div class="fullwidth bg-edge2edge">
                                    <div class="container">
                                       <div class="row">
                                          <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                             <div class="show-on-scroll">
                                                <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                   <h1>Our Capabilities</h1>
                                                </div>
                                             </div>
                                             <div class="show-on-scroll">
                                                <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                   <p>Our portfolio of offerings spans competencies, specialisms, and application services that align with our customers' changing worlds.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                    <div class="banner-media-bottom video bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default" id="vbp-3245">
                                       <div class="row">
                                          <div class="col-12">
                                             <div class="video-desktop-display">
                                                <div class="video-desktop-upload">
                                                   <video class="lazy" data-src="https://insights.techmahindra.com/videos/techmahindra-video_0.mp4" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                                      <source data-src="https://insights.techmahindra.com/videos/techmahindra-video_0.mp4" src="../../insights.techmahindra.com/videos/techmahindra-video_0.mp4">
                                                   </video>
                                                </div>
                                             </div>
                                             <div class="video-mobile-display">
                                                <div class="video-mobile-upload">
                                                   <video class="lazy" data-src="https://insights.techmahindra.com/videos/techmahindra-video_0.mp4" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                                      <source data-src="https://insights.techmahindra.com/videos/techmahindra-video_0.mp4" src="../../insights.techmahindra.com/videos/techmahindra-video_0.mp4">
                                                   </video>
                                                </div>
                                             </div>
                                             <div class="container">
                                                <div class="video-text-section video-upload mobile-video-upload ">
                                                   <div class="video-text-section-contents">
                                                      <div class="hdr-sec-txt-area">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="paragraph paragraph--type--bp-view paragraph--view-mode--default paragraph--width--full" id="vbp-2869">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                             <h2 class="component-title mb-20 mb-xs-0 h6">What We Do</h2>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="field field--name-bp-view field--type-viewsreference field--label-hidden field__items">
                                          <div class="field__item">
                                             <div class="views-element-container">
                                                <div class="techm-industries-grid view view-industries view-id-industries view-display-id-specialisms_grid js-view-dom-id-16797a3fcfd736e381fc2c7e391fa17d624086472686458c4ef7ca4d935c6302">
                                                   <div class="view-content">
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/artificial-intelligence/" tittle="Artificial Intelligence">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="AI" title="AI" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/ai.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/artificial-intelligence/" aria-label="Read more about Artificial Intelligence" class="title1">Artificial Intelligence</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/artificial-intelligence/" aria-label="Learn more about Artificial Intelligence" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/business-process-services/" tittle="Business Process Services">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="BPS" title="BPS" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/business_process_services.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/business-process-services/" aria-label="Read more about Business Process Services" class="title1">Business Process Services</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/business-process-services/" aria-label="Learn more about Business Process Services" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/cloud-infrastructure-services/" tittle="Cloud and Infrastructure Services">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="Infrastructure" title="Infrastructure" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/infrastructure_cloud_services.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/cloud-infrastructure-services/" aria-label="Read more about Cloud and Infrastructure Services" class="title1">Cloud and Infrastructure Services</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/cloud-infrastructure-services/" aria-label="Learn more about Cloud and Infrastructure Services" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/digital-enterprise-applications/" tittle="Digital Enterprise Applications">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="1000" height="600" alt="Digital Enterprise Main" title="Digital Enterprise Main" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/digitalenterprise.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/digital-enterprise-applications/" aria-label="Read more about Digital Enterprise Applications" class="title1">Digital Enterprise Applications</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/digital-enterprise-applications/" aria-label="Learn more about Digital Enterprise Applications" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/engineering-services/" tittle="Engineering Services ">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="IES" title="IES" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/integrated_engineering_services.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/engineering-services/" aria-label="Read more about Engineering Services " class="title1">Engineering Services </a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/engineering-services/" aria-label="Learn more about Engineering Services " class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/experience-design/" tittle="Experience Services">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="BORN Focal Image" title="BORN Focal Image" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/bornpreview_0.png" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/experience-design/" aria-label="Read more about Experience Services" class="title1">Experience Services</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/experience-design/" aria-label="Learn more about Experience Services" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/network-services/" tittle="Network Services">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="Network Services" title="Network Services" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/network_services.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/network-services/" aria-label="Read more about Network Services" class="title1">Network Services</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/network-services/" aria-label="Learn more about Network Services" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="views-row">
                                                         <div class="industries-grid-view">
                                                            <a href="/services/testing-services/" tittle="Testing Services">
                                                               <div class="industries-image" data-aos="zoom-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="400" data-aos-easing="ease-in-sine">
                                                                  <div class="field field--name-field-focal-image field--type-entity-reference field--label-hidden field__item">
                                                                     <div>
                                                                        <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                           <div class="field__label visually-hidden">Image</div>
                                                                           <div class="field__item">  <img loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="580" height="800" alt="Testing Services" title="Testing Services" class="lazyload img-fluid" data-src="https://insights.techmahindra.com/images/testing_services.jpg" typeof="foaf:Image">
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </a>
                                                            <div class="industries-content" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="250" data-aos-offset="0" data-aos-duration="400">
                                                               <h3 class="industries-title">
                                                                  <a href="/services/testing-services/" aria-label="Read more about Testing Services" class="title1">Testing Services</a>
                                                               </h3>
                                                               <div class="industries-link link-arrow">
                                                                  <a href="/services/testing-services/" aria-label="Learn more about Testing Services" class="lnk"></a>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-edge2edge space-default paragraph paragraph--type--spacer paragraph--view-mode--default" id="vbp-29235">
                                 <div class="row">
                                    <div class="col-12">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
         </div>

{% endblock %}