
{% extends "frontend_templates/base.html" %}
{% load static %}

{% block content %}
         <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <div class="col-sm-12" role="banner">
                  <div data-drupal-messages-fallback="" class="hidden"></div>
               </div>
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                        <article role="article" about="/careers/" class="node node--type-landing-page node--view-mode-full clearfix">
                           <header>
                           </header>
                           <div class="node__content clearfix">
                              <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-659">
                                 <div class="fullwidth bg-edge2edge">
                                    <div class="container">
                                       <div class="row">
                                          <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                             <div class="show-on-scroll">
                                                <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                   <h1>Careers</h1>
                                                </div>
                                             </div>
                                             <div class="show-on-scroll">
                                                <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                   <p><span>Join our team to drive innovation and deliver technology solutions that shape meaningful experiences for businesses and individuals.</span></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                    <div class="banner-media-bottom image bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default lazy" id="vbp-658" data-bg="{% static '/Images/8.png' %}">
                                       <div class="container">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="hdr-sec-txt-area">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-left-default bp-padding-right-default bp-padding-top-xlg paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-3269" role="region" aria-label=" Why TechM">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row">
                                             <div class="align2right order-1 order-lg-2 m-0 p-0 col-lg-6">
                                                <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                   <div class="overflow-img">  <img loading="lazy" src="{% static 'Images/6.png' %}" width="825" height="619" alt="WhyTechM" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="align2left order-2 order-lg-1 wrapper col-lg-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                                <p class="overline-12">  </p>
                                                <h3 class="sub-head3">Why Pinesphere</h3>
                                                <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                   <p>Looking to advance your career in the tech industry? Discover how your goals align with ours. Explore opportunities at Pinesphere and become part of a dynamic team of innovative technologists and forward-thinking creators.</p>
                                                </div>
                                                
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-3253" role="region" aria-label=" The TechM Way">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row">
                                             <div class="align2left order-1 order-lg-1 m-0 p-0 col-lg-6">
                                                <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                   <div class="overflow-img">  <img loading="lazy"src="{% static 'Images/7.png' %}" width="825" height="619" alt="TechMWay" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="align2right order-2 order-lg-2 wrapper col-lg-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                                <h3 class="sub-head3">The Pinesphere Way</h3>
                                                <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                   <p><span>We are dedicated to building impactful digital solutions through innovative web and mobile applications. Let us help you scale new heights, delivering exceptional digital experiences—the Pinesphere way.</span></p>
                                                </div>
                                                
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-xlg bp-padding-left-default bp-padding-right-default bp-padding-top-xlg paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-3267" role="region" aria-label=" Diversity and Inclusion">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row">
                                             <div class="align2right order-1 order-lg-2 m-0 p-0 col-lg-6">
                                                <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                   <div class="overflow-img">  <img loading="lazy" src="{% static 'Images/10.png' %}" width="825" height="619" alt="Diversity" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="align2left order-2 order-lg-1 wrapper col-lg-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                                <h3 class="sub-head3">Diversity and Inclusion</h3>
                                                <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                   <p><span>We embrace the unique and the innovative. At Pinephere, we foster diversity and inclusivity to drive creativity and collaboration, building technology solutions that reflect a global perspective.</span></p>
                                                </div>
                                              
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="visual-outer-div ">
                                 <div class="bottom-diagonal visual-top bg-edge2edge">
                                    <div class="banner-media-bottom image top-left bp-margin-top-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--visual-breaker-banner paragraph--view-mode--default lazy" id="vbp-3271" data-bg="{% static 'Images/9.png' %}">
                                       <div class="container" role="region" aria-label=" connect and grow">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="cta-box cta-links top-left" data-aos="fade-up">
                                                   <div class="overline-14"></div>
                                                   <h3 class="sub-head2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">Collaborate and Thrive</h3>
                                                   <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                         <p><span>Together, we build, innovate, and succeed. Join Pinesphere and take your growth to the next level!</span></p>
                                                      </div>
                                                   </div>
                                                   <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-3270">
                                                      <a href="{% url 'workwithus' %}" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about Connect and Grow" title="Know more about Connect and Grow">Join Us</a>
                                                    
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="clip-path">
                                          <div class="progress-area"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
         </div>
        {% endblock %}
