{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}

<div role="main" class="main-container container js-quickedit-main-content">
    <div class="row">
       <div class="col-sm-12" role="banner">
          <div id="block-techm-breadcrumbs" class="settings-tray-editable block block-system block-system-breadcrumb-block" data-drupal-settingstray="editable">
             <div class="content">
                <nav role="navigation" aria-label="breadcrumb">
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item active">
                         Corporate Citizenship
                      </li>
                   </ol>
                </nav>
             </div>
          </div>
          <div data-drupal-messages-fallback="" class="hidden"></div>
       </div>
       <section class="main-content col order-last col-sm-12" id="content" role="main">
          <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
          <div id="block-techm-content" class="block block-system block-system-main-block">
             <div class="content">
                <article role="article" about="/about-us/corporate-citizenship/" class="node node--type-landing-page node--view-mode-full clearfix">
                   <header>
                   </header>
                   <div class="node__content clearfix">
                      <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-9895">
                         <div class="fullwidth bg-edge2edge">
                            <div class="container">
                               <div class="row">
                                  <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                     <div class="show-on-scroll">
                                        <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                           <h1>Corporate Citizenship</h1>
                                        </div>
                                     </div>
                                     <div class="show-on-scroll">
                                        <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                           <p><span>Doing our part to create a brighter tomorrow.</span></p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="bg-edge2edge">
                            <div class="clip-path">
                               <div class="progress-area"></div>
                            </div>
                            <div class="banner-media-bottom image bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default lazy" id="vbp-12788" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/tech_mahindra_recognised_as_corporate_influencer_at_world_media_awards_2020.jpg">
                               <div class="container">
                                  <div class="row">
                                     <div class="col-12">
                                        <div class="hdr-sec-txt-area">
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="paragraph--width--full paragraph paragraph--type--introduction paragraph--view-mode--default" id="vbp-12805">
                         <div class="container">
                            <div class="row">
                               <div class="col-md-6 col-xs-12">
                                  <h2 class="h6">Initiatives for Corporate Citizenship</h2>
                               </div>
                               <div class="col-md-6 col-xs-12">
                                  <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                     <p>At the heart of every technological innovation are exemplary corporate citizens coming together to create a better future for all, And that is what Tech Mahindra has always strived to do. Our initiatives benefit the lives of individuals, their communities, and the planet that each of us calls home. From education, and individual social responsibility, to worldwide sustainability efforts, we are proud to do our part in creating a brighter tomorrow.</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="bg-edge2edge bg-cultured paragraph paragraph--type--info-tall-tiles-default paragraph--view-mode--default" id="vbp-12804">
                         <div class="container">
                            <div class="row">
                               <div class="col-12">
                                  <div class="bp-margin-bottom-xlg bp-margin-top-default bp-padding-bottom-xlg bp-padding-left-default bp-padding-right-default bp-padding-top-default off paragraph main-bgcolor-container-tiles bg-edge2edge paragraph--type--bp-slick paragraph--view-mode--slick-9-items paragraph--width--full left_title_right_desc" id="vbp-12803" role="region" aria-label="Our Corporate Social Responsibility Programs  ">
                                     <div class="container">
                                        <div class="row">
                                           <div class="col-12">
                                              <div class="wrapper-type--bp-tiles" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                                 <h2 class="component-title h6" tabindex="-1">
                                                    Our Corporate Social Responsibility Programs          
                                                 </h2>
                                              </div>
                                              <div class="slick blazy slick--field slick--field-bp-slick-content slick--field-bp-slick-content--slick-9-items slick--skin--fullwidth slick--optionset--slick-9-items" data-blazy="" id="slick-paragraph-bp-slick-bp-slick-content-slick-9-items-12803-2">
                                                 <div id="slick-paragraph-bp-slick-bp-slick-content-slick-9-items-12803-2-slider" data-slick="{&quot;mobileFirst&quot;:true,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;lazyLoad&quot;:&quot;anticipated&quot;,&quot;count&quot;:3,&quot;responsive&quot;:[{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;autoplay&quot;:true,&quot;pauseOnDotsHover&quot;:true,&quot;dots&quot;:true,&quot;rows&quot;:3,&quot;slidesPerRow&quot;:3,&quot;swipeToSlide&quot;:true,&quot;waitForAnimate&quot;:false}}]}" class="slick__slider init-slide">
                                                    <div class="slick__slide slide slide--0">
                                                       <div>
                                                          <div>
                                                             <div class="paragraph--type--card-info-short-tiles paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-9-items" id="vbp-12798">
                                                                <div class="row">
                                                                   <div class="col-12">
                                                                      <h3 class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item"> Tech Mahindra Foundation</h3>
                                                                      <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                                         <p>Established in 2006, the Tech Mahindra Foundation works tirelessly towards our vision of ‘Empowerment Through Education.’ Additionally, the foundation focuses on the areas of education, employability, and disability, with a focus on corporate volunteering. With both direct and partner-implemented programs run through 11 locations throughout India, the Tech Mahindra Foundation has become a nationwide leader in corporate social responsibility.</p>
                                                                      </div>
                                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-12797">
                                                                         <a href="/about-us/tech-mahindra-foundation/" class="lnk-primary lnk" aria-label="Learn More about Tech Mahindra Foundation" title="Learn More about Tech Mahindra Foundation">Learn More</a>
                                                                      </div>
                                                                   </div>
                                                                   <a href="/about-us/tech-mahindra-foundation/" target="_self" class="hidden-link" aria-label="Learn More about Tech Mahindra Foundation" title="Learn More about Tech Mahindra Foundation">hidden-link</a>
                                                                   <div class="card-annimation-bar"></div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class="slick__slide slide slide--1">
                                                       <div>
                                                          <div>
                                                             <div class="paragraph--type--card-info-short-tiles paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-9-items" id="vbp-12800">
                                                                <div class="row">
                                                                   <div class="col-12">
                                                                      <h3 class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">Mahindra Educational Institutions  </h3>
                                                                      <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                                         <p>The Mahindra Educational Institutions (MEI) focus on transforming India’s educational sector. Among its landmark projects is the new Mahindra University, a multi-disciplinary campus established in 2020. Located in Hyderabad, Mahindra University offers undergraduate, post-graduate, and Ph.D. programs that enable holistic development for each student. Mahindra University will operate autonomously with curricula designed with a dual concentration on emotional and artificial intelligence paradigms.</p>
                                                                      </div>
                                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-12799">
                                                                         <a href="/about-us/mahindra-educational-institutions/" class="lnk-primary lnk" aria-label="Learn More about Mahindra Educational Institutions  " title="Learn More about Mahindra Educational Institutions  ">Learn More</a>
                                                                      </div>
                                                                   </div>
                                                                   <a href="/about-us/mahindra-educational-institutions/" target="_self" class="hidden-link" aria-label="Learn More about Mahindra Educational Institutions  " title="Learn More about Mahindra Educational Institutions  ">hidden-link</a>
                                                                   <div class="card-annimation-bar"></div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class="slick__slide slide slide--2">
                                                       <div>
                                                          <div>
                                                             <div class="paragraph--type--card-info-short-tiles paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-9-items" id="vbp-12802">
                                                                <div class="row">
                                                                   <div class="col-12">
                                                                      <h3 class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">Individual Social Responsibility</h3>
                                                                      <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                                         <p>Along with our broader initiatives, we encourage each TechMighty to do their part to improve their communities, whether it’s volunteering for a social cause, participating in carpool, or planting three trees each month. According to our CEO, CP Gurnani, individual social responsibility is “an emotional investment that can last a lifetime and beyond, and transform communities for a sustainable future.</p>
                                                                      </div>
                                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-12801">
                                                                         <a href="/about-us/individual-social-responsibility/" class="lnk-primary lnk" aria-label="Learn More about Individual Social Responsibility" title="Learn More about Individual Social Responsibility">Learn More</a>
                                                                      </div>
                                                                   </div>
                                                                   <a href="/about-us/individual-social-responsibility/" target="_self" class="hidden-link" aria-label="Learn More about Individual Social Responsibility" title="Learn More about Individual Social Responsibility">hidden-link</a>
                                                                   <div class="card-annimation-bar"></div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar">
                                                    <span class="slider__label srline-only"></span>
                                                 </div>
                                                 <nav role="navigation" class="slick__arrow">
                                                    <button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0">Previous</button>
                                                    <button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0">Next</button>
                                                 </nav>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </article>
             </div>
          </div>
       </section>
    </div>
 </div>
 {% endblock %}