{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}

         <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <div class="col-sm-12" role="banner">
                  <div id="block-techm-breadcrumbs" class="settings-tray-editable block block-system block-system-breadcrumb-block" data-drupal-settingstray="editable">
                     <div class="content">
                        <nav role="navigation" aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                 <a href="/about-us/">About Us</a>
                              </li>
                           </ol>
                        </nav>
                     </div>
                  </div>
                  <div data-drupal-messages-fallback="" class="hidden"></div>
               </div>
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                        <article role="article" about="/about-us/customer-speak/" class="node node--type-landing-page node--view-mode-full clearfix">
                           <header>
                           </header>
                           <div class="node__content clearfix">
                              <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-2895">
                                 <div class="container">
                                    <div class="row">
                                       <div class="header-for-rest-hero-banner" role="banner" tabindex="0">
                                          <div class="show-on-scroll">
                                             <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                <h1>Customer Speak</h1>
                                             </div>
                                          </div>
                                          <div class="show-on-scroll"></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bp-margin-bottom-default bp-margin-top-default off paragraph paragraph--type--bp-slick paragraph--view-mode--slick-1-item paragraph--width--full left_title_right_desc" id="vbp-32078">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="slick blazy slick--field slick--field-bp-slick-content slick--field-bp-slick-content--slick-1-item unslick slick--skin--fullwidth slick--optionset--slick-1-item slick--less" data-blazy="" id="slick-paragraph-bp-slick-bp-slick-content-slick-1-item-32078-1">
                                          <div class="slick__slide slide slide--0">
                                             <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default text-align-left paragraph paragraph--type--bp-testimonial paragraph--view-mode--slick-1-item testimonial paragraph--width--full" id="vbp-32077">
                                                <div class="row">
                                                   <div class="col-12">
                                                      <div class="slick blazy slick--field slick--field-add-testimonial slick--field-add-testimonial--slick-1-item unslick slick--skin--fullwidth slick--optionset--slick-1-item slick--less" data-blazy="" id="slick-paragraph-bp-testimonial-add-testimonial-slick-1-item-32077-2">
                                                         <div class="slick__slide slide slide--0">
                                                            <div class="paragraph paragraph--type--testimonial-individual paragraph--view-mode--slick-1-item testimonial" id="vbp-32076">
                                                               <div class="row">
                                                                  <div class="col-12">
                                                                     <div class="testimonial-contents row">
                                                                        <div class="col-md-3 testimonial-image">
                                                                           <a target="_self" href="https://partners.wsj.com/tech-mahindra/the-big-thinkers/purpose-in-practice/" aria-label="Learn more about vbp-32076">
                                                                              <span class="testimonial-link-icon">&nbsp;</span>
                                                                              <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">  <img loading="lazy" src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg" width="290" height="218" alt="Helen Mets" typeof="foaf:Image" class="image-style-testimonial-card-290-218 img-fluid">
                                                                              </div>
                                                                           </a>
                                                                        </div>
                                                                        <div class="col-md-9 testimonial-details" style="text-align:left;">
                                                                           <div class="quote-1">
                                                                              <blockquote style="padding-left:0; padding-bottom:0px; margin-bottom:-10px;">We've got an extremely strong partnership with Tech Mahindra who brings in expertise and helps us see beyond limits, making the impossible possible. That, for me, is also the power of partnership.</blockquote>
                                                                           </div>
                                                                           <div class="overline-14">
                                                                              <span class="testimonial-name">Helen Mets, President and CEO, Ahlstrom</span>                
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="paragraph paragraph--type--bp-view paragraph--view-mode--default bg-edge2edge" id="vbp-2896">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="field field--name-bp-view field--type-viewsreference field--label-hidden field__items">
                                             <div class="field__item">
                                                <div class="views-element-container">
                                                   <div class="view-reports view view-customer-testimonials view-id-customer_testimonials view-display-id-entityqueue_block js-view-dom-id-f3f3776130a826254383e663a05419e2f52485f086bfc63fe170201c53a6b725">
                                                      <div class="view-content">
                                                         <div data-drupal-views-infinite-scroll-content-wrapper="" class="views-infinite-scroll-content-wrapper clearfix">
                                                            <div id="views-bootstrap-customer-testimonials-entityqueue-block" class="grid views-view-grid">
                                                               <div class="row">
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2426/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <a target="_blank" href="https://partners.wsj.com/tech-mahindra/the-big-thinkers/working-hand-in-glove-with-customers-to-create-essential-appliances/" aria-label="Learn more about Kevin Nolan">
                                                                                 <span class="testimonial-link-icon">&nbsp;</span>
                                                                                 <div class="blazy--field-media-cover-image">
                                                                                    <img class="lazy" src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg" alt="kevin Thumbnail">
                                                                                 </div>
                                                                              </a>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Kevin Nolan</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">CEO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">GE Appliances</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2366/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <a target="_blank" href="https://partners.wsj.com/tech-mahindra/the-big-thinkers/vikram-sinha-gotong-royong/" aria-label="Learn more about Vikram Sinha">
                                                                                 <span class="testimonial-link-icon">&nbsp;</span>
                                                                                 <div class="blazy--field-media-cover-image">
                                                                                    <img class="lazy" src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg">
                                                                                 </div>
                                                                              </a>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Vikram Sinha</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">CEO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Indosat Ooredoo Hutchison</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2365/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <a target="_blank" href="https://partners.wsj.com/tech-mahindra/the-big-thinkers/a-fresh-approach/" aria-label="Learn more about Pano Christou">
                                                                                 <span class="testimonial-link-icon">&nbsp;</span>
                                                                                 <div class="blazy--field-media-cover-image">
                                                                                    <img class="lazy" src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg">
                                                                                 </div>
                                                                              </a>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Pano Christou</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">CEO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Pret A Manger</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2364/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <a target="_blank" href="https://partners.wsj.com/tech-mahindra/the-big-thinkers/how-to-optimize-cloudification/" aria-label="Learn more about Mallikarjun Rao">
                                                                                 <span class="testimonial-link-icon">&nbsp;</span>
                                                                                 <div class="blazy--field-media-cover-image">
                                                                                    <img class="lazy" src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg">
                                                                                 </div>
                                                                              </a>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Mallikarjun Rao</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">Chief Technology and Information Officer</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Telefonica</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2363/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <span class="video-no-play" data-toggle="modal" data-target="#popupCookieModal">&nbsp;</span>
                                                                              <span class="video-play-icon">&nbsp;</span>
                                                                              <div class="field field--name-field-video field--type-entity-reference field--label-hidden field__item">
                                                                                 <div class="media media--type-remote-video media--view-mode-default">
                                                                                    <div class="field field--name-field-media-oembed-video field--type-string field--label-hidden field__item">
                                                                                       <div data-colorbox-media-video-modal="<iframe src=&quot;/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3DtGH7k_WXykY%26t%3D21s&amp;amp;max_width=1300&amp;amp;max_height=750&amp;amp;hash=mfDZYEc8a1ysxbjNelT_93oSHMZuI2H6UYCYFfFjcls&quot; frameborder=&quot;0&quot; allowtransparency width=&quot;1300&quot; height=&quot;750&quot; class=&quot;media-oembed-content&quot; title=&quot;#PowerOfPartnership - Netgear&quot;></iframe>
                                                                                          " class="colorbox-media-video" data-cbox-img-attrs="{&quot;alt&quot;:&quot;&quot;}"><img src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg" width="390" height="234" alt="" loading="lazy" typeof="foaf:Image" class="image-style-card-list-item img-fluid">
                                                                                       </div>
                                                                                    </div>
                                                                                    <div class="blazy blazy--field blazy--field-media-cover-image blazy--field-media-cover-image--default blazy--view--customer-testimonials-block-entityqueue-block blazy--view blazy--view--customer-testimonials blazy--view--customer-testimonials--entityqueue-block field field--name-field-media-cover-image field--type-image field--label-hidden field__item" data-blazy="">
                                                                                       <div class="media media--blazy media--image media--responsive is-b-loading">
                                                                                          <picture>
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <img class="media__image media__element b-lazy b-responsive img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/2024-05/Website-thumbnails-Netgear.jpg" srcset="" sizes="100vw" data-srcset="https://insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 800w, https://insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1000w, https://insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1200w, https://insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Netgear.jpg.webp 1600w" src="https://insights.techmahindra.com/images/anand-g.-mahindra.jpg" width="1600" height="900" alt="" typeof="foaf:Image">
                                                                                          </picture>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </div>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Patrick Lo &amp; Michael Falcon</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">Chairman and CEO | COO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Netgear</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2362/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <span class="video-no-play" data-toggle="modal" data-target="#popupCookieModal">&nbsp;</span>
                                                                              <span class="video-play-icon">&nbsp;</span>
                                                                              <div class="field field--name-field-video field--type-entity-reference field--label-hidden field__item">
                                                                                 <div class="media media--type-remote-video media--view-mode-default">
                                                                                    <div class="field field--name-field-media-oembed-video field--type-string field--label-hidden field__item">
                                                                                       <div data-colorbox-media-video-modal="<iframe src=&quot;/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3Di9JSJy9O3eo&amp;amp;max_width=1300&amp;amp;max_height=750&amp;amp;hash=JVvRZSwPngd79OfdA3lP2J70TCBv8E8FFlgs-NrmjXg&quot; frameborder=&quot;0&quot; allowtransparency width=&quot;1300&quot; height=&quot;750&quot; class=&quot;media-oembed-content&quot; title=&quot;Customer Speak | Tech Mahindra Transforming Vietnam Mobile&quot;></iframe>
                                                                                          " class="colorbox-media-video" data-cbox-img-attrs="{&quot;alt&quot;:&quot;&quot;}"><img src="../../../insights.techmahindra.com/styles/card_list_item/s3/oembed_thumbnails/2WsJJ3rUJuexk2egEfkNfntNEM9VFhaKCDUS_D3bLaU.jpg" width="390" height="234" alt="" loading="lazy" typeof="foaf:Image" class="image-style-card-list-item img-fluid">
                                                                                       </div>
                                                                                    </div>
                                                                                    <div class="blazy blazy--field blazy--field-media-cover-image blazy--field-media-cover-image--default blazy--view--customer-testimonials-block-entityqueue-block blazy--view blazy--view--customer-testimonials blazy--view--customer-testimonials--entityqueue-block field field--name-field-media-cover-image field--type-image field--label-hidden field__item" data-blazy="">
                                                                                       <div class="media media--blazy media--image media--responsive is-b-loading">
                                                                                          <picture>
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <img class="media__image media__element b-lazy b-responsive img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/2024-05/Website-thumbnails-Vietnamobile.jpg" srcset="" sizes="100vw" data-srcset="https://insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 800w, https://insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1000w, https://insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1200w, https://insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Vietnamobile.jpg.webp 1600w" src="data:image/webp;base64,UklGRlgAAABXRUJQVlA4IEwAAACwAQCdASoKAAYAAUAmJQBOgBsqW04AAP75ikaAPurvfDWil83GLzph1aPdpmGuwr9KAGcyXAee8u0VX2WrtVwowCVDwu35dQyMAAAA" width="1600" height="900" alt="" typeof="foaf:Image">
                                                                                          </picture>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </div>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Christina</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">CEO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Vietnamobile</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2361/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <span class="video-no-play" data-toggle="modal" data-target="#popupCookieModal">&nbsp;</span>
                                                                              <span class="video-play-icon">&nbsp;</span>
                                                                              <div class="field field--name-field-video field--type-entity-reference field--label-hidden field__item">
                                                                                 <div class="media media--type-remote-video media--view-mode-default">
                                                                                    <div class="field field--name-field-media-oembed-video field--type-string field--label-hidden field__item">
                                                                                       <div data-colorbox-media-video-modal="<iframe src=&quot;/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3D6neQipz0toM&amp;amp;max_width=1300&amp;amp;max_height=750&amp;amp;hash=O0IXBR_99Xyjgu7aUEFlxaX8Ez84Tq9YxnMOpiELJuc&quot; frameborder=&quot;0&quot; allowtransparency width=&quot;1300&quot; height=&quot;750&quot; class=&quot;media-oembed-content&quot; title=&quot;Tech Mahindra and Vodafone Germany’s Captivating Journey of Transforming Customer Experience&quot;></iframe>
                                                                                          " class="colorbox-media-video" data-cbox-img-attrs="{&quot;alt&quot;:&quot;&quot;}"><img src="../../../insights.techmahindra.com/styles/card_list_item/s3/oembed_thumbnails/Zb4BK4WavNzOrNdToRoYgXrSSJKE4lyieWPDosy3StE.jpg" width="390" height="234" alt="" loading="lazy" typeof="foaf:Image" class="image-style-card-list-item img-fluid">
                                                                                       </div>
                                                                                    </div>
                                                                                    <div class="blazy blazy--field blazy--field-media-cover-image blazy--field-media-cover-image--default blazy--view--customer-testimonials-block-entityqueue-block blazy--view blazy--view--customer-testimonials blazy--view--customer-testimonials--entityqueue-block field field--name-field-media-cover-image field--type-image field--label-hidden field__item" data-blazy="">
                                                                                       <div class="media media--blazy media--image media--responsive is-b-loading">
                                                                                          <picture>
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Ulrich.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Ulrich.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Ulrich.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Ulrich.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Ulrich.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Ulrich.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Ulrich.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Ulrich.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <img class="media__image media__element b-lazy b-responsive img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/2024-05/Ulrich.jpg" srcset="" sizes="100vw" data-srcset="https://insights.techmahindra.com/styles/d08_standard/s3/2024-05/Ulrich.jpg.webp 800w, https://insights.techmahindra.com/styles/d10_standard/s3/2024-05/Ulrich.jpg.webp 1000w, https://insights.techmahindra.com/styles/d12_standard/s3/2024-05/Ulrich.jpg.webp 1200w, https://insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Ulrich.jpg.webp 1600w" src="data:image/webp;base64,UklGRmgAAABXRUJQVlA4IFwAAAAQAgCdASoKAAYAAUAmJYwCdAELZYJKVAbQAP75ik4Lozkwv6FJCSr2Y2+n0ivaPxd03jNRbBL6wx4md36/IVfBH2JeG02xlloEgBmVzsQ2QkutSGaS2tXlLMAAAA==" width="1600" height="900" alt="" typeof="foaf:Image">
                                                                                          </picture>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </div>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Ulrich Irnich</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">CIO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Vodafone Germany</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                                  <div class="col-sm-3 col-md-3 testimonial-grid">
                                                                     <article role="article" about="/node/2360/" class="node node--type-customer-testimonial node--view-mode-teaser clearfix">
                                                                        <header>
                                                                        </header>
                                                                        <div class="node__content clearfix">
                                                                           <div class="cust-testimonial-img">
                                                                              <span class="video-no-play" data-toggle="modal" data-target="#popupCookieModal">&nbsp;</span>
                                                                              <span class="video-play-icon">&nbsp;</span>
                                                                              <div class="field field--name-field-video field--type-entity-reference field--label-hidden field__item">
                                                                                 <div class="media media--type-remote-video media--view-mode-default">
                                                                                    <div class="field field--name-field-media-oembed-video field--type-string field--label-hidden field__item">
                                                                                       <div data-colorbox-media-video-modal="<iframe src=&quot;/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3Dq3Uch1p0d6Q%26t%3D19s&amp;amp;max_width=1300&amp;amp;max_height=750&amp;amp;hash=AVeGxWcIUp50wmBI_-b3tgOFgmdUfeDZjRt5RvdBp5k&quot; frameborder=&quot;0&quot; allowtransparency width=&quot;1300&quot; height=&quot;750&quot; class=&quot;media-oembed-content&quot; title=&quot;The Simplicity Series: From Complexity to Simplicity-The Vodafone Approach&quot;></iframe>
                                                                                          " class="colorbox-media-video" data-cbox-img-attrs="{&quot;alt&quot;:&quot;&quot;}"><img src="../../../insights.techmahindra.com/styles/card_list_item/s3/oembed_thumbnails/ShASNly-MrZxQfCTBbYiLMTUnL6AdEdzGIh-Wl-16a0.jpg" width="390" height="234" alt="" loading="lazy" typeof="foaf:Image" class="image-style-card-list-item img-fluid">
                                                                                       </div>
                                                                                    </div>
                                                                                    <div class="blazy blazy--field blazy--field-media-cover-image blazy--field-media-cover-image--default blazy--view--customer-testimonials-block-entityqueue-block blazy--view blazy--view--customer-testimonials blazy--view--customer-testimonials--entityqueue-block field field--name-field-media-cover-image field--type-image field--label-hidden field__item" data-blazy="">
                                                                                       <div class="media media--blazy media--image media--responsive is-b-loading">
                                                                                          <picture>
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <source srcset="../../../insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 800w, ../../../insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1000w, ../../../insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1200w, ../../../insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1600w" type="image/webp" sizes="100vw" width="1600" height="900">
                                                                                             <img class="media__image media__element b-lazy b-responsive img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/2024-05/Website-thumbnails-Scotty.jpg" srcset="" sizes="100vw" data-srcset="https://insights.techmahindra.com/styles/d08_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 800w, https://insights.techmahindra.com/styles/d10_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1000w, https://insights.techmahindra.com/styles/d12_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1200w, https://insights.techmahindra.com/styles/de2e_standard/s3/2024-05/Website-thumbnails-Scotty.jpg.webp 1600w" src="data:image/webp;base64,UklGRmYAAABXRUJQVlA4IFoAAADwAQCdASoKAAYAAUAmJYwCdAEQ/jawEhAA/vmKTguS+azKl/WE8X97wSzsq+7KP+tDjmmz1DIZINKgJZcbk2FuQjJnc0R0IgZZmNOCOvudM5V1dvtEcZh+AAA=" width="1600" height="900" alt="" typeof="foaf:Image">
                                                                                          </picture>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </div>
                                                                              <div class="title4 field field--name-title field--type-string field--label-hidden">
                                                                                 <div>Scott petty</div>
                                                                              </div>
                                                                              <div class="field--name-field-designation">
                                                                                 <div class="field field--name-field-designation field--type-string field--label-hidden field__item">CTO</div>
                                                                                 <div class="divide">,</div>
                                                                                 <div class="field field--name-field-client-name field--type-string field--label-hidden field__item">Vodafone</div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </article>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <ul class="js-pager__items pager" data-drupal-views-infinite-scroll-pager="">
                                                         <li class="pager__item">
                                                            <a class="button btn btn-default" href="?page=1" title="Go to next page" rel="next">Load More</a>
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
         </div>

{% endblock %}