{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}
<div role="main" class="main-container container js-quickedit-main-content">
    <div class="row">
       <div class="col-sm-12" role="banner">
          <div id="block-techm-breadcrumbs" class="settings-tray-editable block block-system block-system-breadcrumb-block" data-drupal-settingstray="editable">
             <div class="content">
                <nav role="navigation" aria-label="breadcrumb">
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                         <a href="/about-us/">About Us</a>
                      </li>
                   </ol>
                </nav>
             </div>
          </div>
          <div data-drupal-messages-fallback="" class="hidden"></div>
       </div>
       <section class="main-content col order-last col-sm-12" id="content" role="main">
          <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
          <div id="block-techm-content" class="block block-system block-system-main-block">
             <div class="content">
                <article role="article" about="/about-us/mahindra-educational-institutions/" class="node node--type-landing-page node--view-mode-full clearfix">
                   <header>
                   </header>
                   <div class="node__content clearfix">
                      <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-12942">
                         <div class="fullwidth bg-edge2edge">
                            <div class="container">
                               <div class="row">
                                  <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                     <div class="show-on-scroll">
                                        <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                           <h1>Mahindra Educational Institutions</h1>
                                        </div>
                                     </div>
                                     <div class="show-on-scroll">
                                        <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                           <p>Emerging as key disruptors in the field of education.</p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="bg-edge2edge">
                            <div class="clip-path">
                               <div class="progress-area"></div>
                            </div>
                            <div class="banner-media-bottom image bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default lazy" id="vbp-12941" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/mahindra-educational-institutions-hero-banner.jpg">
                               <div class="container">
                                  <div class="row">
                                     <div class="col-12">
                                        <div class="hdr-sec-txt-area">
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="paragraph--width--full paragraph paragraph--type--introduction paragraph--view-mode--default" id="vbp-22147">
                         <div class="container">
                            <div class="row">
                               <div class="col-md-6 col-xs-12">
                                  <h2 class="h6">Overview</h2>
                               </div>
                               <div class="col-md-6 col-xs-12">
                                  <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                     <p>Mahindra Institutions offer a comprehensive education to equip the youth for the 21st century. The Mahindra Institutions feature modern campuses equipped with facilities to foster a conducive learning environment.</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-md bp-padding-left-default bp-padding-right-default bp-padding-top-lg paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full remove-img-transition" id="vbp-29983" role="region" aria-label=" About Mahindra Educational Institutions">
                         <div class="container">
                            <div class="row">
                               <div class="col-12">
                                  <div class="row">
                                     <div class="align2left order-1 order-lg-1 m-0 p-0 col-lg-6">
                                        <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                           <div class="overflow-img">  <img loading="lazy" src="{% static '../../../insights.techmahindra.com/styles/text_and_image_desktop/s3/images/mei-banner_1.jpg.webp' %}" width="825" height="619" alt="mei-banner" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                           </div>
                                        </div>
                                     </div>
                                     <div class="align2right order-2 order-lg-2 wrapper col-lg-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                        <h3 class="sub-head3">About Mahindra Educational Institutions</h3>
                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                           <p>Mahindra Educational Institutions (MEI) is the corporate social responsibility arm of Tech Mahindra Limited, a Mahindra Group Company. MEI was set up&nbsp;and founded in 2013 as a Section 25 Company (referred to as a Section 8 Company in the Companies Act, 2013). MEI is a not-for-profit, wholly-owned subsidiary of Tech Mahindra Limited, which has set up established the Mahindra Ecole Centrale in Hyderabad in August 2014 through a collaborative venture between Mahindra Educational Institutions and Ecole Centrale of Paris, France (now known as Centrale Supelec) and the JNTU Hyderabad – to offer undergraduate engineering programs. Through this strong Indo-French Collaboration with Centrale Supelec and Industry connection with Tech Mahindra, MEC has emerged as a disruptive player in the field of technical education.</p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-md bp-padding-bottom-sm bp-padding-left-default bp-padding-right-default bp-padding-top-md paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-22818" role="region" aria-label=" Mahindra University ">
                         <div class="container">
                            <div class="row">
                               <div class="col-12">
                                  <div class="row">
                                     <div class="align2right order-1 order-lg-2 m-0 p-0 col-lg-6">
                                        <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                           <div class="overflow-img">  <img loading="lazy" src="{% static '../../../insights.techmahindra.com/styles/text_and_image_desktop/s3/images/mahindra-educational-institutions1_0.jpg.webp' %}" width="825" height="619" alt="mahindra-educational-institutions-image1" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                           </div>
                                        </div>
                                     </div>
                                     <div class="align2left order-2 order-lg-1 wrapper col-lg-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                        <h3 class="sub-head3">Mahindra University </h3>
                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                           <p>MEI has sponsored Mahindra University,&nbsp;an institution that offers to introduce diverse streams of education in addition to engineering. Mahindra University (MU) was set up for “educating future citizens for and of a better world” and was notified&nbsp;ratified by the Government of Telangana&nbsp;vide via Telangana and Ordinance No. 1 of 2020 dated 20th May 2020 under the Telangana State Private Universities (Establishment and Regulation) Act, 2018. Mr. Anand Mahindra, Chairman of Tech Mahindra Limited and the Mahindra Group, serves as the Founding Chancellor of the Mahindra University.</p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="paragraph bg-edge2edge paragraph--type--bp-contact-us paragraph--view-mode--default" id="vbp-22824">
                         <div class="container">
                            <div class="row">
                               <div class="col-md-6">
                                  <div class="paragraph paragraph--type--bp-contact-item paragraph--view-mode--default" id="vbp-22820">
                                     <h2 class="h6 field field--name-field-bp-headline field--type-string field--label-hidden field__item">MEI Registered Office</h2>
                                     <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                        <p>Tech Mahindra Limited,&nbsp;<br>Survey No: 62/1A, Bahadurpally,&nbsp;<br>Jeedimetla, Hyderabad - 500043&nbsp;<br>CIN: U80300TG2013NPL086878</p>
                                     </div>
                                  </div>
                                  <hr>
                               </div>
                               <div class="col-md-6">
                                  <div class="paragraph paragraph--type--bp-contact-item paragraph--view-mode--default" id="vbp-22823">
                                     <div class="paragraph paragraph--type--bp-view paragraph--view-mode--default paragraph--width--full" id="vbp-33902">
                                        <div class="container">
                                           <div class="row">
                                              <div class="col-12">
                                                 <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="container">
                                           <div class="row">
                                              <div class="col-12">
                                                 <div class="field field--name-bp-view field--type-viewsreference field--label-hidden field__items">
                                                    <div class="field__item">
                                                       <div class="views-element-container">
                                                          <div class="view view-annual-reports view-id-annual_reports view-display-id-block_1 js-view-dom-id-bca5fcebd8862c7c331afae20f0e194aa32a589244328b9dbf2b98d0653ae9b0">
                                                             <div class="view-filters">
                                                                <form class="views-exposed-form bef-exposed-form" data-bef-auto-submit-full-form="" data-bef-auto-submit="" data-bef-auto-submit-delay="500" data-drupal-selector="views-exposed-form-annual-reports-block-1" action="/about-us/mahindra-educational-institutions/" method="get" id="views-exposed-form-annual-reports-block-1" accept-charset="UTF-8">
                                                                   <div class="form-row">
                                                                      <fieldset class="js-form-item js-form-type-select form-type-select js-form-item-field-financial-year-target-id form-item-field-financial-year-target-id form-group">
                                                                         <select data-drupal-selector="edit-field-financial-year-target-id" id="edit-field-financial-year-target-id--2" name="field_financial_year_target_id" class="form-select form-control">
                                                                            <option value="All">-Year-</option>
                                                                            <option value="987">FY 2023-2024</option>
                                                                            <option value="502" selected="selected">FY 2022-2023</option>
                                                                            <option value="501">FY 2021-2022</option>
                                                                         </select>
                                                                      </fieldset>
                                                                      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-group" id="edit-actions--2"><input data-bef-auto-submit-click="" class="js-hide button js-form-submit form-submit btn btn-primary btn-square btn-single-layer form-control" data-drupal-selector="edit-submit-annual-reports" type="submit" id="edit-submit-annual-reports" value="Apply"></div>
                                                                   </div>
                                                                </form>
                                                             </div>
                                                             <div class="view-content">
                                                                <div class="views-row">
                                                                   <div class="media media--type-report media--view-mode-field-preview">
                                                                      <div class="field field--name-field-media-file field--type-file field--label-visually_hidden">
                                                                         <div class="field__label visually-hidden">File</div>
                                                                         <div class="field__item"><a href="https://insights.techmahindra.com/investors/annual-return-2022-23.pdf" class="file-download file-download-application file-download-pdf btn-md btn-primary btn-square btn-single-layer btn" target="_blank" aria-label="annual-return-2022-23.pdf">2022-2023 Annual Return</a></div>
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                                <div class="views-row">
                                                                   <div class="media media--type-report media--view-mode-field-preview">
                                                                      <div class="field field--name-field-media-file field--type-file field--label-visually_hidden">
                                                                         <div class="field__label visually-hidden">File</div>
                                                                         <div class="field__item"><a href="https://insights.techmahindra.com/investors/mei-iar-fy22-23.pdf" class="file-download file-download-application file-download-pdf btn-md btn-primary btn-square btn-single-layer btn" target="_blank" aria-label="mei-iar-fy22-23.pdf">2022-2023 Impact Assessment</a></div>
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-33336">
                                        <a href="/resources/csr-policy-and-vision-document/" target="_blank" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about CSR Policy and Vision Document" title="Know more about CSR Policy and Vision Document">CSR Policy and Vision Document</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </article>
             </div>
          </div>
       </section>
    </div>
 </div>

{% endblock %}