{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}
<div role="main" class="main-container container js-quickedit-main-content">
<div class="row">
   <div class="col-sm-12" role="banner">
      <div data-drupal-messages-fallback="" class="hidden"></div>
   </div>
<section class="main-content col order-last col-sm-12" id="content" role="main">
<a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
<div id="block-techm-content" class="block block-system block-system-main-block">
<div class="content">
<article role="article" about="/home-page/" class="node node--type-landing-page node--view-mode-full clearfix">
<header>
</header>
<div class="node__content clearfix">
<div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-3158">
   <div class="fullwidth bg-edge2edge">
      <div class="container">
         <div class="row">
            <div class="header-only-for-hero-banner" role="banner" tabindex="0">
               <div class="show-on-scroll">
                  <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                     <div class="banner-long-text">
                        <h1 class="h5">Innovate with Impact<span class="small"></span></h1>
                     </div>
                  </div>
               </div>
               <div class="show-on-scroll">
                  <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                     <p>Empowering businesses with innovative software for fast, flexible digital transformation and sustainable growth.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="bg-edge2edge">
      <div class="clip-path">
         <div class="progress-area"></div>
      </div>
      <div class="bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-carousel paragraph--view-mode--default carousel slide hero--fixed-content bg-edge2edge" id="vbp-carousel-3157" data-interval="15000" data-ride="carousel" role="complementary">
         <h2 id="id_title" class="sr-only">Carousel content with slides.</h2>
         <p id="id_desc" class="sr-only">A carousel is a rotating set of images, rotation stops on keyboard focus on carousel tab controls or hovering the mouse pointer over images.  Use the tabs or the previous and next buttons to change the displayed slide.</p>
         <div class="row">
            <div class="col-12">
               <!-- to remove slider -->
               <ol class="carousel-indicators" role="tablist">
                  <li class="active" data-slide-to="0" data-target="#vbp-carousel-3157" role="tab"></li>
                  <li class="" data-slide-to="1" data-target="#vbp-carousel-3157" role="tab"></li>
                  <li class="" data-slide-to="2" data-target="#vbp-carousel-3157" role="tab"></li>
                  <li class="" data-slide-to="3" data-target="#vbp-carousel-3157" role="tab"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="paragraph--layout-slideshow__slide-1 item carousel-item active">
                     <div class="banner-media-bottom video bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default" id="vbp-29204">
                        <div class="row">
                           <div class="col-12">
                              <div class="video-desktop-display">
                                 <div class="video-desktop-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner2.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner2.mp4' %}" src="{% static 'assets/videos/pines_banner2.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="video-mobile-display">
                                 <div class="video-mobile-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner2.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner2.mp4' %}" src="{% static 'assets/videos/pines_banner2.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="container">
                                 <div class="video-text-section video-upload mobile-video-upload ">
                                    <div class="video-text-section-contents">
                                       <div class="hdr-sec-txt-area">
                                       </div>
                                       <div class="cta-links bottom-right">
                                          <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-cta paragraph--width--full background-image-empty" id="vbp-29206">
                                             <div class="row">
                                                <div class=" col-12 cta-contents">
                                                   <div class="cta-description-wrapper field--name-field-bp-cta-description">
                                                      <div class="sub-head1">
                                                         <h2 class="field field--name-field-bp-cta-title field--type-string field--label-hidden field__item">Optimize IT Solutions</h2>
                                                         <p style="color: white;">Creating a better IT solution</p>
                                                      </div>
                                                   </div>
                                                   <div class="cta-links-wrapper">
                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-29205">
                                                         <a href="{% url 'about_us' %}" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about Innovate with Impact" title="Know more about Innovate with Impact">Know More</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- slides -->
                  <div class="paragraph--layout-slideshow__slide-2 item carousel-item">
                     <div class="banner-media-bottom video bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default" id="vbp-36581">
                        <div class="row">
                           <div class="col-12">
                              <div class="video-desktop-display">
                                 <div class="video-desktop-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner1.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner1.mp4' %}" src="{% static 'assets/videos/pines_banner1.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="video-mobile-display">
                                 <div class="video-mobile-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner1.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner1.mp4' %}" src="{% static 'assets/videos/pines_banner1.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="container">
                                 <div class="video-text-section video-upload mobile-video-upload ">
                                    <div class="video-text-section-contents">
                                       <div class="hdr-sec-txt-area">
                                       </div>
                                       <div class="cta-links bottom-right">
                                          <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-cta paragraph--width--full background-image-empty" id="vbp-36580">
                                             <div class="row">
                                                <div class=" col-12 cta-contents">
                                                   <div class="cta-description-wrapper field--name-field-bp-cta-description">
                                                      <div class="sub-head1">
                                                         <h2 class="field field--name-field-bp-cta-title field--type-string field--label-hidden field__item">IT Software and Design</h2>
                                                         <p style="color: white;">Transform Every Digital Process</p>
                                                      </div>
                                                   </div>
                                                   <div class="cta-links-wrapper">
                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-36579">
                                                         <a href="{% url 'about_us' %}" target="_self" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about Pinesphere reports 1.0% QoQ growth in Revenues at Rs. 13,005 crores; PAT rises 28.8% to 851 crores; EBIT marg" title="Know more about Pinesphere reports 1.0% QoQ growth in Revenues at Rs. 13,005 crores; PAT rises 28.8% to 851 crores; EBIT marg">Know More</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="paragraph--layout-slideshow__slide-3 item carousel-item">
                     <div class="banner-media-bottom video bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default" id="vbp-29209">
                        <div class="row">
                           <div class="col-12">
                              <div class="video-desktop-display">
                                 <div class="video-desktop-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner3.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner3.mp4' %}" src="{% static 'assets/videos/pines_banner3.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="video-mobile-display">
                                 <div class="video-mobile-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner3.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner3.mp4' %}" src="{% static 'assets/videos/pines_banner3.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="container">
                                 <div class="video-text-section video-upload mobile-video-upload ">
                                    <div class="video-text-section-contents">
                                       <div class="hdr-sec-txt-area">
                                       </div>
                                       <div class="cta-links bottom-right">
                                          <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-cta paragraph--width--full background-image-empty" id="vbp-29208">
                                             <div class="row">
                                                <div class=" col-12 cta-contents">
                                                   <div class="cta-description-wrapper field--name-field-bp-cta-description">
                                                      <div class="sub-head1">
                                                         <h2 class="field field--name-field-bp-cta-title field--type-string field--label-hidden field__item">Powerful IT Solutions</h2>
                                                         <p style="color: white;"> Embrace Innovation Unleash Potential </p>
                                                      </div>
                                                   </div>
                                                   <div class="cta-links-wrapper">
                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-29207">
                                                         <a href="{% url 'about_us' %}" target="_self" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about Pinesphere Expands BPS Business in the Baltic States with a New Centre in Latvia" title="Know more about Pinesphere Expands BPS Business in the Baltic States with a New Centre in Latvia">Know More</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="paragraph--layout-slideshow__slide-4 item carousel-item">
                     <div class="banner-media-bottom video bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default" id="vbp-3156">
                        <div class="row">
                           <div class="col-12">
                              <div class="video-desktop-display">
                                 <div class="video-desktop-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner4.mp4' %}" data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner4.mp4' %}" src="{% static 'assets/videos/pines_banner4.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="video-mobile-display">
                                 <div class="video-mobile-upload">
                                    <video class="lazy" data-src="{% static 'assets/videos/pines_banner4.mp4' %}"data-poster="" poster="" autoplay="" muted="" playsinline="" loop="" preload="metadata">
                                       <source data-src="{% static 'assets/videos/pines_banner4.mp4' %}" src="{% static 'assets/videos/pines_banner4.mp4' %}">
                                    </video>
                                 </div>
                              </div>
                              <div class="container">
                                 <div class="video-text-section video-upload mobile-video-upload ">
                                    <div class="video-text-section-contents">
                                       <div class="hdr-sec-txt-area">
                                       </div>
                                       <div class="cta-links bottom-right">
                                          <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-cta paragraph--width--full background-image-empty" id="vbp-3155">
                                             <div class="row">
                                                <div class=" col-12 cta-contents">
                                                   <div class="cta-description-wrapper field--name-field-bp-cta-description">
                                                      <div class="sub-head1">
                                                         <h2 class="field field--name-field-bp-cta-title field--type-string field--label-hidden field__item">Smile with Pinesphere</h2>
                                                      </div>
                                                   </div>
                                                   <div class="cta-links-wrapper">
                                                      <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-3154">
                                                         <a href="{% url 'about_us' %}" target="_self" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about Pinesphere Launches Project Indus Large Language Model (LLM)" title="Know more about Pinesphere Launches Project Indus Large Language Model (LLM)">Know More</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#vbp-carousel-3157" role="button" data-slide="prev" aria-label="Show previous slide">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#vbp-carousel-3157" role="button" data-slide="next" aria-label="Show next slide">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="visual-outer-div ">
   <div class="bottom-diagonal visual-top bg-edge2edge">
      <div class="banner-media-bottom image top-right background-style paragraph paragraph--type--visual-breaker-banner-typo-play paragraph--view-mode--default lazy" id="vbp-28722" data-bg="{% static 'assets/images/whoweare2.jpg' %}">
         <div class="container" role="region" aria-label=" true scalability, agility, and responsiveness">
            <!--Typo Play Block -->
            <div class="typo-play-container">
               <div class="container-typo-play">
                  <div class="rows-typo-play">
                     <div class="col-12">
                        <div class="field--name-field-bp-typography-headline-1">
                           <h2>WHO WE ARE<span>Empowering Success with IT</span></h2>
                        </div>
                        <div class="mobilerightFade " data-aos="fade-left"></div>
                        <div class="mobileFade" data-aos="fade-up">
                           <div class="clearfix text-formatted field field--name-field-body-text field--type-text-long field--label-hidden field__item">
                              <p>Driving innovation in today’s fast-evolving market requires IT solutions that deliver both transformative scale and unmatched agility.<span></span></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--Typo Play Block -->    
            <div class="row">
               <div class="col-12">
                  <div class="cta-box cta-links top-right" data-aos="fade-up">
                     <div class="overline-14">
                        <div class="field field--name-field-tm-eyebrow field--type-string field--label-hidden field__item">Innovate with Impact</div>
                     </div>
                     <h3 class="sub-head2 field field--name-field-bp-headline field--type-string field--label-hidden field__item"> Innovation drives data, technology, and solutions.</h3>
                     <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-28721">
                        <div class="button-container">
                           <a href="{% url 'about_us' %}" target="_blank" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about True Scalability, Agility and Responsiveness" title="Know more about True Scalability, Agility and Responsiveness">Consultancy</a>
                           <a href="{% url 'about_us' %}" target="_blank" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Know more about True Scalability, Agility and Responsiveness" title="Know more about True Scalability, Agility and Responsiveness">Software</a>
                        </div>
                        <style>.button-container {
                           display: flex;
                           gap: 10px; /* Optional: Adds spacing between the buttons */
                           }
                           .button-container a {
                           text-align: center;
                           }
                        </style>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clip-path">
            <div class="progress-area"></div>
         </div>
      </div>
   </div>
</div>
<!-- Services -->
<div class="services-comp paragraph paragraph--type--bp-view paragraph--view-mode--default paragraph--width--full" id="vbp-28792">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
               <h2 class="component-title mb-20 mb-xs-0 h6">MEET OUR SERVICES</h2>
               <div class="component-introduction">
                  <div class="clearfix text-formatted field field--name-field-bp-component-introduction field--type-text-long field--label-hidden field__item">
                     <p>Our services include a comprehensive suite of digital solutions and advanced platforms, driving impactful results, improving client experiences,revolutionizing industries with scalability and exceptional speed.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <div class="field field--name-bp-view field--type-viewsreference field--label-hidden field__items">
            <div class="field__item">
               <div class="views-element-container">
                  <div class="competencies-grid techm-competencies-grid view view-competencies view-id-competencies view-display-id-specialisms_grid js-view-dom-id-caa2db0eb5b3a93fd08627dd2ab27c9daa67a57dd8d52f6013afe0fb0d72eb8f">
                     <div class="view-content">
                        <div data-drupal-views-infinite-scroll-content-wrapper="" class="views-infinite-scroll-content-wrapper clearfix">
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/Digitalweb_mobility.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Digital Web & Mobility
                                                      </h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            By Leveraging our 360-degree Web and Mobility Solutions, we enable next-generation digital experiences.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="dwmservice" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/Cloud_Transformation.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Cloud Transformation
                                                      </h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            Utilize the transformational power of cloud computing to realize the boundless potential of our company.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="cloudservice" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/Machine_learning.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Machine Learning
                                                      </h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            Unleash the boundless potential of Machine Learning for reshaping industries for enhancing the future.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="Ml_Ai" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/iot.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Internet Of Things
                                                      </h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            Empower decisions with intelligent things and revolutionize industries through edge computing
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="iotservice" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/rpa.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Robotic Process Automation
                                                      </h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            Enhance operational efficiency through the implementation of Robotic Process Automation (RPA).
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="rpaservice" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/D_L.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Digital Learning
                                                      </h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>Unlock a diverse range of courses and resources on our platform to enhance skills and expand knowledge
                                                            Digital Learning
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="digital_learning" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/AI.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Artificial Intelligence</h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            Unleashing the Potential of AI for future and bridging the gap between Science Fiction and Reality
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="Ml_Ai" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="views-row">
                              <div class="view-content">
                                 <div class="clearfix service-component-desktop">
                                    <div class="views-row">
                                       <div class="bg-cultured paragraph--type--card-info-tall-tiles-black paragraph paragraph--type--card-info-stand-tiles paragraph--view-mode--slick-8-items-2-4-tiles hover-typography-bg-dark">
                                          <div class="black-tiles-wrapper">
                                             <div class="row">
                                                <div class="withimage lazy" data-bg="{% static 'assets/images/App_Development.jpg' %}"></div>
                                                <div class="col-12 competencies-content">
                                                   <div class="title2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                      <h3>Application Development</h3>
                                                   </div>
                                                   <div class="clearfix text-formatted field field--summary field--type-text-long field--label-hidden field__item">
                                                      <div class="clearfix field--name-bp-text field field--name-field-short-text-component field--type-string-long field--label-hidden field__item">
                                                         <p>
                                                            Innovating Tomorrow, Coding Today: Crafting Next-Gen Applications with Technology Expertise.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <a class="hidden-link" href="portfolio" tabindex="0">hidden-link</a>
                                                <div class="card-annimation-bar"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Why choose us  -->
<div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-md bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-lg paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-608" role="region" aria-label=" ">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="row">
               <div class="align2left order-1 order-lg-1 m-0 p-0 col-lg-6">
                  <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                     <div class="overflow-img">  <img loading="lazy" src="{% static 'assets/images/WHY_CHOOSE_US.jpg' %}" width="825" height="619" alt="TechM Rise" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                     </div>
                  </div>
               </div>
               <div class="align2right order-2 order-lg-2 wrapper col-lg-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                  <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                     <h3 class="h6">WHY CHOOSE US</h3>
                     <h4>Empowering Our Customers with the Best</h4>
                     <p><span dir="ltr">Our unwavering goal is to provide our esteemed customers with nothing short of excellence.With our cutting-edge technical solutions and meticulous attention to detail, we strive to surpass expectations and deliver the absolute best. Contact us today to experience the pinnacle of technological innovation.</span></p>
                  </div>
                  <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-607">
                     <a href="{% url 'about_us' %}" class="lnk-primary lnk" aria-label="Learn more about RISE" title="Learn more about RISE">LEARN MORE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <!-- How We Work -->
   <div class="visual-outer-div">
      <div class="bottom-diagonal visual-top bg-edge2edge">
         <div class="banner-media-bottom image top-left bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--visual-breaker-banner paragraph--view-mode--default lazy" id="vbp-612" data-bg="{% static 'assets/images/How_We_Work.jpg' %}">
            <div class="container" role="region" aria-label="Agile Methodology and Digital Solutions">
               <div class="row">
                  <div class="col-12">
                     <div class="cta-box cta-links top-left" data-aos="fade-up">
                        <div class="overline-14"></div>
                        <h4 class="sub-head2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">PROCESS</h4>
                        <h3>How We Work</h3>
                        <!-- Agile Methodology Section -->
                        <div class="card panel panel-default" id="accordion-vbp-9891">
                           
                           <div id="collapse-vbp-9891-1" class="card-block panel-collapse collapse " role="tabpanel" aria-labelledby="heading-vbp-9891-1" data-parent="#accordion-vbp-9891" data-accordion="#heading-vbp-9891-1">
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-simple paragraph--view-mode--default paragraph--width--full col-12" id="vbp-9869">
                                 <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                    <p>We follow the Agile methodology, which allows us to be flexible, respond to changes, quickly, and continuously improve our processes.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card-header panel-heading " role="tab" id="heading-vbp-9891-2">
                              <div class="panel-title">
                                 <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-vbp-9891-2" href="#collapse-vbp-9891-2" aria-expanded="false" aria-controls="collapse-vbp-9891-2">
                                 Agile Methodology 
                                 <i class="fa fa-plus"></i>
                                 </button>
                              </div>
                           </div>
                           <div id="collapse-vbp-9891-2" class="card-block panel-collapse collapse " role="tabpanel" aria-labelledby="heading-vbp-9891-2" data-parent="#accordion-vbp-9891" data-accordion="#heading-vbp-9891-2">
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-simple paragraph--view-mode--default paragraph--width--full col-12" id="vbp-9874">
                                 <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                    <p>We follow the Agile methodology, which allows us to be flexible, respond to changes, quickly, and continuously improve our processes.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card-header panel-heading " role="tab" id="heading-vbp-9891-3">
                              <div class="panel-title">
                                 <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-vbp-9891-3" href="#collapse-vbp-9891-3" aria-expanded="false" aria-controls="collapse-vbp-9891-3">
                                 Teamwork
                                 <i class="fa fa-plus"></i>
                                 </button>
                              </div>
                           </div>
                           <div id="collapse-vbp-9891-3" class="card-block panel-collapse collapse " role="tabpanel" aria-labelledby="heading-vbp-9891-3" data-parent="#accordion-vbp-9891" data-accordion="#heading-vbp-9891-3">
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-simple paragraph--view-mode--default paragraph--width--full col-12" id="vbp-9879">
                                 <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                    <p>Our team is made up of highly skilled professionals with diverse backgrounds and expertise.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card-header panel-heading " role="tab" id="heading-vbp-9891-4">
                              <div class="panel-title">
                                 <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-vbp-9891-4" href="#collapse-vbp-9891-4" aria-expanded="false" aria-controls="collapse-vbp-9891-4">
                                 Quality Assurance
                                 <i class="fa fa-plus"></i>
                                 </button>
                              </div>
                           </div>
                           <div id="collapse-vbp-9891-4" class="card-block panel-collapse collapse " role="tabpanel" aria-labelledby="heading-vbp-9891-4" data-parent="#accordion-vbp-9891" data-accordion="#heading-vbp-9891-4">
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-simple paragraph--view-mode--default paragraph--width--full col-12" id="vbp-9884">
                                 <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                    <p>Quality is our top priority. We have a dedicated team of quality assurance specialists who ensure that every project we deliver meets our high standards</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card-header panel-heading " role="tab" id="heading-vbp-9891-5">
                              <div class="panel-title">
                                 <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-vbp-9891-5" href="#collapse-vbp-9891-5" aria-expanded="false" aria-controls="collapse-vbp-9891-5">
                                 Customer Focus
                                 <i class="fa fa-plus"></i>
                                 </button>
                              </div>
                           </div>
                           <div id="collapse-vbp-9891-5" class="card-block panel-collapse collapse " role="tabpanel" aria-labelledby="heading-vbp-9891-5" data-parent="#accordion-vbp-9891" data-accordion="#heading-vbp-9891-5">
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-simple paragraph--view-mode--default paragraph--width--full col-12" id="vbp-9889">
                                 <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                    <p>We prioritize client success and work collaboratively to deliver tailored solutions that exceed expectations.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="clip-path">
               <div class="progress-area"></div>
            </div>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
            </div>
         </div>
      </div>
   </div>

</div>
{% endblock %}