{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}
<div role="main" class="main-container container js-quickedit-main-content">
<div class="row">
   <div class="col-sm-12" role="banner">
      <div data-drupal-messages-fallback="" class="hidden"></div>
   </div>
<section class="main-content col order-last col-sm-12" id="content" role="main">
<a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
<div id="block-techm-content" class="block block-system block-system-main-block">
<div class="content">
<article role="article" about="/home-page/" class="node node--type-landing-page node--view-mode-full clearfix">
<header>
</header>
<div class="node__content clearfix">

<div class="visual-outer-div ">
   <div class="bottom-diagonal visual-top bg-edge2edge">
      <div class="banner-media-bottom image top-right background-style paragraph paragraph--type--visual-breaker-banner-typo-play paragraph--view-mode--default lazy" id="vbp-28722" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/nxtnow.jpg">
         <div class="container" role="region" aria-label=" true scalability, agility, and responsiveness">
            <!--Typo Play Block -->
            <div class="typo-play-container">
               <div class="container-typo-play">
                  <div class="rows-typo-play">
                     <div class="col-12">
                        <div class="field--name-field-bp-typography-headline-1">
                           <h2>Pines News<span>Recent Posts</span></h2>
                        </div>
                        <div class="mobilerightFade " data-aos="fade-left"></div>
                        <div class="mobileFade" data-aos="fade-up">
                           <div class="clearfix text-formatted field field--name-field-body-text field--type-text-long field--label-hidden field__item">
                              <p>Unleash the Power of Technology: Crafting Solutions, One Line at a Time.<span></span></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--Typo Play Block -->    
            <div class="row">
               <div class="col-12">
                  <div class="cta-box cta-links top-right" data-aos="fade-up">
                     <div class="overline-14">
                       <div class="field field--name-field-tm-eyebrow field--type-string field--label-hidden field__item">Enhance Capabilities</div>
                     </div>
                     <h3 class="sub-head2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">

                        Elevate capabilities by offering training and sharing insights on technology.</h3>
                
                   
                     <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-28721">
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clip-path">
            <div class="progress-area"></div>
         </div>
      </div>
   </div>
</div>

<!--Why choose us  -->
<div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-md bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-lg paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-608" role="region" aria-label=" ">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="row">
               <div class="align2left order-1 order-lg-1 m-0 p-0 col-lg-6">
                  <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                     <div class="overflow-img">  <img loading="lazy" src="{% static 'Images/Image.jpg' %}" width="825" height="619" alt="TechM Rise" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                     </div>
                  </div>
               </div>
               <div class="align2right order-2 order-lg-2 wrapper col-lg-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                  <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                     <h3 class="h6">Hands-on JavaScript and PHP session</h3>
                     <h4>September 2, 2023</h4>
                     <p><span dir="ltr">Hands-on JavaScript and PHP sessions’ primary goal is to make web application development fast and efficient. These sessions provide a wide range of practical exercises and examples, allowing developers to focus on the unique features of their application rather than reinventing the wheel. In these sessions, JavaScript defines the interactive elements of the user interface, while PHP handles the server-side business logic and data processing. This separation of concerns makes it easier to manage and maintain complex web applications.</span></p>
                  </div>
                  <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-607">
                     <a href="/rise/" class="lnk-primary lnk" aria-label="Learn more about RISE" title="Learn more about RISE"></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

                  <div class="bg-without-opacity bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-3226" role="region" aria-label=" Part of Mahindra Group">
                     <div class="container">
                        <div class="row">
                           <div class="col-12">
                              <div class="row">
                                 <div class="align2right order-1 order-lg-2 m-0 p-0 col-lg-6">
                                    <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                       <div class="overflow-img">  <img loading="lazy" src="{% static 'Images/pinesnews.png' %}" width="825" height="619" alt="About Us Text Image 1140w" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="align2left order-2 order-lg-1 wrapper col-lg-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                    <h3 class="sub-head3">Topics Covered</h3>
                                    <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                        <ul>
                                            <li>Introduction to Web Development</li>
                                            <li>PHP vs JS</li>
                                            <li>PHP Installation </li>
                                            <li>PHP Basics with form validation</li>
                                            <li>JavaScript Basics </li>
                                            <li>Task Manager and stone paper siccors tasks</li>
                                           
                                        
                                           
                                            <li>Deployment Strategies and Hosting Options</li>
                                        </ul>
                                        
                                    </div>
                                    <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-3225">
                                      <a href="https://www.mahindra.com/" target="_blank" class="lnk-primary lnk" aria-label="Learn more about Mahindra Group" title="Learn more about Mahindra Group">Read More</a>
                                    </div>
                                  </div>
                                  
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
<div class="paragraph paragraph--type--bp-view paragraph--view-mode--default bg-edge2edge" id="vbp-28727">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
            </div>
         </div>
      </div>
   </div>
<div class="row">
      <div class="col-12">
         <div class="field field--name-bp-view field--type-viewsreference field--label-hidden field__items">
            <div class="field__item">
               <div class="views-element-container">
                  <div class="view-empty view view-case-studies view-id-case_studies view-display-id-case_study_home_block js-view-dom-id-dfad18b7479817752eab178ba66b0e3ec7cfb092c76bf62c337ce63db3622a54">
                     <div class="view-header">
                        <div class="container">
                           <div class="row">
                              <div class="col-12">
                                 <h2 data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500" class="component-title h6 aos-init aos-animate">Pines News</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="view-content">
                        <div data-content-gallery="" class="slick blazy blazy--content slick--view slick--view--case-studies slick--view--case-studies--case-study-home-block slick--view--case-studies-block-case-study-home-block slick--skin--default slick--optionset--slick-3-items-centered-1-mobile slick--content" data-blazy="" id="slick-views-case-studies-block-case-study-home-block-1">
                           <div id="slick-views-case-studies-block-case-study-home-block-1-slider" data-slick="{&quot;mobileFirst&quot;:true,&quot;centerMode&quot;:true,&quot;centerPadding&quot;:&quot;&quot;,&quot;dots&quot;:true,&quot;draggable&quot;:false,&quot;infinite&quot;:false,&quot;lazyLoad&quot;:&quot;blazy&quot;,&quot;count&quot;:20,&quot;responsive&quot;:[{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;dots&quot;:true,&quot;draggable&quot;:false,&quot;slidesPerRow&quot;:3,&quot;slidesToShow&quot;:3,&quot;swipeToSlide&quot;:true,&quot;waitForAnimate&quot;:false}}]}" class="slick__slider init-slide">
                              <div class="slick__slide slide slide--1">
                                 <div class="slide__content">
                                    <div class="slide__media">
                                       <a href="{% url 'pinesnews1' %}">
                                          <div style="padding-bottom: 100%;" data-ratio="100" class="media media--blazy case-studies-480x480 media--slick media--switch media--switch--content media--image media--ratio media--ratio--fluid is-b-loading">
                                          <img alt="Image" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="{% static 'Images/lp3.jpeg' %}" src="{% static 'Images/lp3.jpeg' %}" width="480" height="480" typeof="foaf:Image">
                                          </div>
                                       </a>
                                    </div>
                                    <div class="slide__caption">
                                       <div class="slide__description">
                                          <div class="views-field views-field-title"><span class="field-content"><span class="title-case-studies"><strong><a href="{% url 'pinesnews1' %}" hreflang="en">
                                             MS Azure Training
                                          </a></strong></span>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="slick__slide slide slide--2">
                                 <div class="slide__content">
                                    <div class="slide__media">
                                       <a href="{% url 'pinesnews2' %}">
                                          <div style="padding-bottom: 100%;" data-ratio="100" class="media media--blazy case-studies-480x480 media--slick media--switch media--switch--content media--image media--ratio media--ratio--fluid is-b-loading"><img alt="leadingtheway-1304611158" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="{% static 'Images/fsd.jpeg' %}" src="{% static 'Images/fsd.jpeg' %}" width="480" height="480" typeof="foaf:Image">
                                          </div>
                                       </a>
                                    </div>
                                    <div class="slide__caption">
                                       <div class="slide__description">
                                          <div class="views-field views-field-title"><span class="field-content"><span class="title-case-studies"><strong><a href="{% url 'pinesnews2' %}" hreflang="en">Full Stack Development for the IT, CS, BCA, and CT departments</a></strong></span>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="slick__slide slide slide--3">
                                 <div class="slide__content">
                                    <div class="slide__media">
                                       <a href="{% url 'Pines_News_R' %}">
                                          <div style="padding-bottom: 100%;" data-ratio="100" class="media media--blazy case-studies-480x480 media--slick media--switch media--switch--content media--image media--ratio media--ratio--fluid is-b-loading"><img alt="leadingtheway-300p-1309624577.jpg" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="{% static 'Images/workshop.jpeg' %}" src="{% static 'Images/workshop.jpeg' %}" width="480" height="480" typeof="foaf:Image">
                                          </div>
                                       </a>
                                    </div>
                                    <div class="slide__caption">
                                       <div class="slide__description">
                                          <div class="views-field views-field-title"><span class="field-content"><span class="title-case-studies"><strong><a href="{% url 'Pines_News_R' %}" hreflang="en">2 days workshop on Django and MongoDB at KCT</a></strong></span>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="slick__slide slide slide--4">
                                 <div class="slide__content">
                                    <div class="slide__media">
                                       <a href="{% url 'pinesnews3' %}">
                                          <div style="padding-bottom: 100%;" data-ratio="100" class="media media--blazy case-studies-480x480 media--slick media--switch media--switch--content media--image media--ratio media--ratio--fluid is-b-loading"><img alt="experience-the-future-of-auto-with-tech-mahindra-at-sap-best-practices-for-automotive-event-2019-457898680" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="{% static 'Images/Image.jpg' %}" src="{% static 'Images/Image.jpg' %}" width="480" height="480" typeof="foaf:Image">
                                          </div>
                                       </a>
                                    </div>
                                    <div class="slide__caption">
                                       <div class="slide__description">
                                          <div class="views-field views-field-title"><span class="field-content"><span class="title-case-studies"><strong><a href="{% url 'pinesnews3' %}" hreflang="en">Hands-on JavaScript and PHP session</a></strong></span>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
             
                           </div>
                           <div class="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar">
                              <span class="slider__label srline-only"></span>
                           </div>
                           <nav role="navigation" class="slick__arrow">
                              <button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0">Previous</button>
                              <button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0">Next</button>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}