{% extends "frontend_templates/base.html" %}
{% load static %} 
    {% block content %}
             <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                              <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-622">
                                 <div class="fullwidth bg-edge2edge">
                                    <div class="container">
                                       <div class="row">
                                          <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                             <div class="show-on-scroll">
                                                <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                   <div class="content">
                                                      <h1>Privacy Policies</h1>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="show-on-scroll">
                                             <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                   <p>
                                                      Welcome to Pinesphere, a leading software company delivering innovative services. We prioritize transparency and clear expectations in our website and service policies.
                                                   </p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                    <div class="banner-media-bottom image bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default lazy" id="vbp-634" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/About%20Us%20-%20GettyImages-1409666463%201About%20Us.jpg">
                                       <div class="container">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="hdr-sec-txt-area">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>

               
                        <article role="article" about="/terms-of-use/" typeof="schema:WebPage" class="node node--type-page node--view-mode-full clearfix">
                           <header>
                              <span property="schema:name" content="Terms of Use" class="rdf-meta hidden"></span>
                           </header>
                           <div class="node__content clearfix">
                              <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                
                                 <ul>
                                        <h4 class="title"></h4>
                                    <li><strong>Privacy Policy: </strong>We prioritise the security and privacy of our users. Our Privacy Policy outlines how we collect, use, and safeguard your personal information. It also explains your rights and choices regarding the data you share with us.</li>
                                        <h4 class="title"></h4>
                                    <li><strong>Terms of Service:</strong>By using our website and availing our products and services, you agree to comply with our Terms of Service. This document covers the rules and guidelines governing the usage of our platform, responsibilities, and limitations.</li>
                                        <h4 class="title"></h4>
                                    <li><strong>Cookie Policy:</strong>To enhance your browsing experience, we use cookies and similar tracking technologies. Our Cookie Policy explains how we use cookies, what information we collect, and how you can manage your preferences.</li>
                                        <h4 class="title"></h4>
                                    <li><strong>Intellectual Property:</strong>Pinesphere takes intellectual property rights seriously. All content, logos, designs, and materials on our website are the property of Pinesphere unless otherwise stated. Unauthorised use or distribution of our intellectual property is strictly prohibited.</li>
                                        <h4 class="title"></h4>
                                    <li><strong>Refund Policy:</strong>We aim to provide high-quality products and services. However, if you are unsatisfied with any of our offerings, we have a comprehensive Refund Policy in place. The policy outlines the conditions under which refunds can be requested and the process to follow.</li>
                                        <h4 class="title"></h4>
                                    <li><strong>Support and Contact:</strong>At Pinesphere, we value our customers' feedback and inquiries. For any support requests, questions, or concerns, our dedicated support team is ready to assist you. Please visit our Contact Us page.</li>
                                          <h4 class="title"></h4>
                                    <li><strong>Security Measures:</strong> prioritise the security of our website and user data. Pinesphere implements various security measures to protect against unauthorised access, data breaches, and other threats. However, it is crucial for users to exercise caution when sharing sensitive information online.</li>
                                          <h4 class="title"></h4>
                                    <li><strong>Updates to Policies:</strong>Pinesphere reserves the right to update or modify any of the policies mentioned above. Changes will be effective immediately upon posting on our website. It is recommended to review these policies periodically to stay informed about any updates.</li>

                                    <li>By accessing our website and using our services, you acknowledge and agree to comply with the policies outlined above. If you have any questions or require further clarification, please do not hesitate to contact us.</li>
                                       
                                    <li>Thank you for choosing Pinesphere for your software product and service needs. We look forward to serving you with excellence!</li>

                                    <li><strong>Last Updated:</strong> [14/8/2023]</li>

                                    <li>Pinesphere Solutions</li>

                                    <li>First Floor, C block, Dr.N.G.P Institute of Technology NGP Incubation, Kalapatti Main Rd, Coimbatore, Tamil Nadu 641048</li>

                                    <li><strong>Phone:</strong> +91 8903704121 / +91 9843406178 / +91 9994434264 / +91 9087030398</li>

                                    <li><strong>Email:</strong> info@pinesphere.com</li>

                                 </ul>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
         </div>
    {% endblock %}
 