 {% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}
 
 
 
 
 
 <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <div class="col-sm-12" role="banner">
                  <div data-drupal-messages-fallback="" class="hidden"></div>
               </div>
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                        <article role="article" about="/awards/" class="node node--type-landing-page node--view-mode-full clearfix">
                           <header>
                           </header>
                           <div class="node__content clearfix">
                              <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-28793">
                                 <div class="container">
                                    <div class="row">
                                       <div class="header-for-rest-hero-banner" role="banner" tabindex="0">
                                          <div class="show-on-scroll">
                                             <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                <h1>Recognition</h1>
                                             </div>
                                          </div>
                                          <div class="show-on-scroll"></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="paragraph--width--full space-xl paragraph paragraph--type--spacer paragraph--view-mode--default" id="vbp-28884">
                                 <div class="row">
                                    <div class="col-12">
                                    </div>
                                 </div>
                              </div>
                              <div class="left-algn paragraph carousel-text-slide featured-carousel-text-image featured-awards paragraph--type--text-and-image-slide-carousel paragraph--view-mode--featured-award bg-edge2edge left-img" id="vbp-28860">
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="row">
                                          <div class="align2left order-1 order-lg-1 m-0 p-0 col-lg-5">
                                             <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                <div class="overflow-img">  <img loading="lazy" src="{% static '../../insights.techmahindra.com/styles/featured_award_mobile_216_216/s3/images/partnership-award.jpg' %}" width="216" height="216" alt="Partnership-Award" typeof="foaf:Image" class="image-style-featured-award-mobile-216-216 img-fluid">
                                                </div>
                                             </div>
                                          </div>
                                          <div class="align2right order-2 order-lg-2 wrapper col-lg-7">
                                             <div class="container-content">
                                                <div class="bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default off left-title-right-desc paragraph paragraph--type--bp-slick paragraph--view-mode--slick-1-item paragraph--width--full left_title_right_desc" id="vbp-28859">
                                                   <div class="container">
                                                      <div class="row">
                                                         <div class="col-12" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="row">
                                                      <div class="col-12">
                                                         <div class="slick blazy slick--field slick--field-bp-slick-content slick--field-bp-slick-content--slick-1-item slick--skin--fullwidth slick--optionset--slick-1-item" data-blazy="" id="slick-paragraph-bp-slick-bp-slick-content-slick-1-item-28859-1">
                                                            <div id="slick-paragraph-bp-slick-bp-slick-content-slick-1-item-28859-1-slider" data-slick="{&quot;autoplay&quot;:true,&quot;autoplaySpeed&quot;:10000,&quot;pauseOnDotsHover&quot;:true,&quot;dots&quot;:true,&quot;lazyLoad&quot;:&quot;anticipated&quot;,&quot;swipeToSlide&quot;:true,&quot;count&quot;:11,&quot;responsive&quot;:[{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;autoplay&quot;:true,&quot;pauseOnDotsHover&quot;:true,&quot;dots&quot;:true,&quot;swipeToSlide&quot;:true,&quot;waitForAnimate&quot;:false}}]}" class="slick__slider init-slide">
                                                               <div class="slick__slide slide slide--0">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-36420">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Sustainability</p>
                                                                        <h3 class="sub-head2">Tech Mahindra Recognized as one of the World’s Most Sustainable Companies 2024</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p><span>TIME Magazine in partnership with Statista has recognized Tech Mahindra as one of the World’s Most Sustainable Companies 2024</span></p>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--1">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-28851">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Prominent</p>
                                                                        <h3 class="sub-head2">‘Best Organizations for Women 2024’ by ET NOW</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been recognized by ET NOW for not just breaking barriers but actively shaping the future</p>
                                                                        </div>
                                                                        <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-36003">
                                                                           <a href="https://et-edge.com/conferences/bow/" target="_blank" class="lnk-primary lnk" aria-label="Know more to ‘Best Organizations for Women 2024’ by ET NOW" title="Know more to ‘Best Organizations for Women 2024’ by ET NOW">READ MORE</a>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--2">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-28852">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Prominent</p>
                                                                        <h3 class="sub-head2">'Top 100 Corporate Startup Stars (CSS)’ in 2023</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been recognized for world-class open innovation practices</p>
                                                                        </div>
                                                                        <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-36004">
                                                                           <a href="/insights/news/tech-mahindra-recognized-amongst-top-100-corporate-startup-stars-css-2023/" class="lnk-primary lnk" aria-label="Know more Tech Mahindra was recognized amongst the 'Top 100 Corporate Startup Stars (CSS) in 2023 by ICC (International Chamber " title="know more Tech Mahindra was recognized amongst the 'Top 100 Corporate Startup Stars (CSS) in 2023 by ICC (International Chamber ">READ MORE</a>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--3">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-28853">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Sustainability</p>
                                                                        <h3 class="sub-head2">Included in Carbon Disclosure Project (CDP) ‘A’ list</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been included in the 'A’ list for both CDP climate and water security</p>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--4">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-28856">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Prominent</p>
                                                                        <h3 class="sub-head2">‘Best Tech Brands’ at ET Best Tech Brands 2023</h3>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--5">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-28858">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">HR</p>
                                                                        <h3 class="sub-head2">Golden Peacock Award for HR Excellence</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been recognized for exceptional people practices</p>
                                                                        </div>
                                                                        <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-28857">
                                                                           <a href="https://www.goldenpeacockaward.com/national-winners/golden-peacock-hr-excellence-award-past-winners.html" target="_blank" class="lnk-primary lnk" aria-label="Read More about Golden Peacock Award for HR Excellence" title="Read More about Golden Peacock Award for HR Excellence">READ MORE</a>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--6">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-36014">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Sustainability</p>
                                                                        <h3 class="sub-head2">India's 'Most Sustainable Business of the Year'</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been recognized at the BW Sustainable World Conclave 2023 solidifying its ESG commitment</p>
                                                                        </div>
                                                                        <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-36013">
                                                                           <a href="https://www.linkedin.com/posts/tech-mahindra_the-sustainable-world-conclave-2023-activity-7134856721935609856-xpRU/" target="_blank" class="lnk-primary lnk" aria-label="Read More about India's 'Most Sustainable Business of the Year'" title="Read More about India's 'Most Sustainable Business of the Year'">READ MORE</a>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--7">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-36067">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Prominent</p>
                                                                        <h3 class="sub-head2">‘Iconic Brands’ at ET Iconic Brands 2023</h3>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--8">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-36068">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Prominent</p>
                                                                        <h3 class="sub-head2">‘Most Innovative Companies’ by Team Marksmen</h3>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--9">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-36070">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">Sustainability</p>
                                                                        <h3 class="sub-head2">Only Indian Company to be Awarded with the Terra Carta Seal</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been awarded with Sustainable Markets Initiative’s Terra Carta Seal</p>
                                                                        </div>
                                                                        <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-36069">
                                                                           <a href="/insights/press-releases/tech-mahindra-receives-hrh-prince-wales-terra-carta-seal-recognition/" target="_blank" class="lnk-primary lnk" aria-label="Read More about Only Indian Company to be Awarded with the Terra Carta Seal " title="Read More about Only Indian Company to be Awarded with the Terra Carta Seal ">READ MORE</a>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="slick__slide slide slide--10">
                                                                  <div class="paragraph paragraph--type--card-text-tile paragraph--view-mode--slick-1-item paragraph--type--text-and-image" id="vbp-36072">
                                                                     <div class="wrapper align2right">
                                                                        <p class="overline-12">HR</p>
                                                                        <h3 class="sub-head2">Singapore Human Resources Online HR Excellence Awards 2023</h3>
                                                                        <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                                           <p>Tech Mahindra has been honored for best-in-class HR team and spectacular work across HR function</p>
                                                                        </div>
                                                                        <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-36071">
                                                                           <a href="https://awards.humanresourcesonline.net/hr-excellence-awards-sg/2023-winners/" target="_blank" class="lnk-primary lnk" aria-label="Read More about Singapore Human Resources Online HR Excellence Awards 2023" title="Read More about Singapore Human Resources Online HR Excellence Awards 2023">READ MORE</a>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-label="Progress Bar">
                                                               <span class="slider__label srline-only"></span>
                                                            </div>
                                                            <nav role="navigation" class="slick__arrow">
                                                               <button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0">Previous</button>
                                                               <button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0">Next</button>
                                                            </nav>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="recognition-awards-comp bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default paragraph paragraph--type--bp-block paragraph--view-mode--default paragraph--width--full" id="vbp-28849">
                                 <div class="row">
                                    <div class="col-12">
                                       <h2 class="h6">
                                          Awards and Accolades          
                                       </h2>
                                       <div class="field field--name-bp-block field--type-block-field field--label-hidden field__item">
                                          <div class="views-exposed-form bef-exposed-form block block-views block-views-exposed-filter-blockawards-recognition-awards-block" data-bef-auto-submit-full-form="" data-bef-auto-submit="" data-bef-auto-submit-delay="500" data-drupal-selector="views-exposed-form-awards-recognition-awards-block" id="block-exposedformawardsrecognition-awards-block">
                                             <div class="content">
                                                <form action="/awards/" method="get" id="views-exposed-form-awards-recognition-awards-block" accept-charset="UTF-8">
                                                   <div class="form-row">
                                                      <fieldset class="js-form-item js-form-type-select form-type-select js-form-item-field-award-category-target-id form-item-field-award-category-target-id form-group">
                                                         <select data-drupal-selector="edit-field-award-category-target-id" id="edit-field-award-category-target-id" name="field_award_category_target_id" class="form-select form-control">
                                                            <option value="All" selected="selected">Select Category</option>
                                                            <option value="305">Our People</option>
                                                            <option value="1295">Prominent</option>
                                                            <option value="304">Sustainability</option>
                                                            <option value="306">Tech Mahindra Foundation</option>
                                                         </select>
                                                      </fieldset>
                                                      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-group" id="edit-actions"><input data-bef-auto-submit-click="" class="js-hide button js-form-submit form-submit btn btn-primary btn-square btn-single-layer form-control" data-drupal-selector="edit-submit-awards" type="submit" id="edit-submit-awards" value="Apply"></div>
                                                   </div>
                                                </form>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="paragraph paragraph--type--bp-view paragraph--view-mode--default paragraph--width--full" id="vbp-28850">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-delay="50" data-aos-duration="500">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="field field--name-bp-view field--type-viewsreference field--label-hidden field__items">
                                          <div class="field__item">
                                             <div class="views-element-container">
                                                <div class="recognition-awards-block view view-awards view-id-awards view-display-id-recognition_awards_block js-view-dom-id-fa438237bc0e2e97fe8827d3e149fb0d7eca0601ec0b3a91457efab3911df2bb">
                                                   <div class="view-content">
                                                      <div data-drupal-views-infinite-scroll-content-wrapper="" class="views-infinite-scroll-content-wrapper clearfix">
                                                         <div class="views-row">
                                                            <div class="views-field views-field-field-award-category">
                                                               <div class="field-content overline-12">Prominent</div>
                                                            </div>
                                                            <div class="views-field views-field-field-media">
                                                               <div class="field-content">
                                                                  <div class="media media--blazy awards-listing-200-200 media--bundle--image media--image is-b-loading"><img alt="award- Best Organizations for Women" title="award- Best Organizations for Women" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/styles/awards_listing_200_200/s3/images/microsoftteams-image_22.png" src="{% static 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D' %}'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%2F%3E" width="200" height="200" typeof="foaf:Image">
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="views-field views-field-title"><span class="field-content title1">Tech Mahindra was recognized amongst the ‘Best Organizations for Women 2024’ by ET NOW</span></div>
                                                            <div class="views-field views-field-body">
                                                               <div class="field-content"></div>
                                                            </div>
                                                         </div>
                                                         <div class="views-row">
                                                            <div class="views-field views-field-field-award-category">
                                                               <div class="field-content overline-12">Prominent</div>
                                                            </div>
                                                            <div class="views-field views-field-field-media">
                                                               <div class="field-content">
                                                                  <div class="media media--blazy awards-listing-200-200 media--bundle--image media--image is-b-loading"><img alt="award-icc-2023" title="award-icc-2023" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/styles/awards_listing_200_200/s3/images/microsoftteams-image_19.png" src="{% static 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D' %}'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%2F%3E" width="200" height="200" typeof="foaf:Image">
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="views-field views-field-title"><span class="field-content title1">Tech Mahindra was recognized amongst the 'Top 100 Corporate Startup Stars (CSS) in 2023 by ICC (International Chamber of Commerce) and Mind the Bridge</span></div>
                                                            <div class="views-field views-field-body">
                                                               <div class="field-content"></div>
                                                            </div>
                                                         </div>
                                                         <div class="views-row">
                                                            <div class="views-field views-field-field-award-category">
                                                               <div class="field-content overline-12">Prominent</div>
                                                            </div>
                                                            <div class="views-field views-field-field-media">
                                                               <div class="field-content">
                                                                  <div class="media media--blazy awards-listing-200-200 media--bundle--image media--image is-b-loading"><img alt="award-bestbrand" title="award-bestbrand" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/styles/awards_listing_200_200/s3/images/microsoftteams-image_23.png" src="{% static 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D' %}'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%2F%3E" width="200" height="200" typeof="foaf:Image">
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="views-field views-field-title"><span class="field-content title1">Tech Mahindra was recognized amongst the ‘Best Tech Brands’ at ET Best Tech Brands 2023</span></div>
                                                            <div class="views-field views-field-body">
                                                               <div class="field-content"></div>
                                                            </div>
                                                         </div>
                                                         <div class="views-row">
                                                            <div class="views-field views-field-field-award-category">
                                                               <div class="field-content overline-12">Prominent</div>
                                                            </div>
                                                            <div class="views-field views-field-field-media">
                                                               <div class="field-content">
                                                                  <div class="media media--blazy awards-listing-200-200 media--bundle--image media--image is-b-loading"><img alt="award-iconic Brands" title="award-iconic Brands" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/styles/awards_listing_200_200/s3/images/microsoftteams-image_21.png" src="{% static 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D' %}'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%2F%3E" width="200" height="200" typeof="foaf:Image">
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="views-field views-field-title"><span class="field-content title1">Tech Mahindra was recognized amongst the ‘Iconic Brands’ at ET Iconic Brands 2023</span></div>
                                                            <div class="views-field views-field-body">
                                                               <div class="field-content"></div>
                                                            </div>
                                                         </div>
                                                         <div class="views-row">
                                                            <div class="views-field views-field-field-award-category">
                                                               <div class="field-content overline-12">Prominent</div>
                                                            </div>
                                                            <div class="views-field views-field-field-media">
                                                               <div class="field-content">
                                                                  <div class="media media--blazy awards-listing-200-200 media--bundle--image media--image is-b-loading"><img alt="ibm-partnership-award" title="ibm-partnership-award" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/styles/awards_listing_200_200/s3/images/ibm-partnership-award_0.jpg" src="{% static 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D' %}'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%2F%3E" width="200" height="200" typeof="foaf:Image">
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="views-field views-field-title"><span class="field-content title1">Tech Mahindra was recognized amongst the ‘Most Innovative Companies’ by Team Marksmen</span></div>
                                                            <div class="views-field views-field-body">
                                                               <div class="field-content"></div>
                                                            </div>
                                                         </div>
                                                         <div class="views-row">
                                                            <div class="views-field views-field-field-award-category">
                                                               <div class="field-content overline-12">Prominent</div>
                                                            </div>
                                                            <div class="views-field views-field-field-media">
                                                               <div class="field-content">
                                                                  <div class="media media--blazy awards-listing-200-200 media--bundle--image media--image is-b-loading"><img alt="ibm-partnership-award" title="ibm-partnership-award" class="media__image media__element b-lazy img-fluid" decoding="async" loading="lazy" data-src="https://insights.techmahindra.com/styles/awards_listing_200_200/s3/images/ibm-partnership-award_0.jpg" src="{% static 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D' %}'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%2F%3E" width="200" height="200" typeof="foaf:Image">
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="views-field views-field-title"><span class="field-content title1">Tech Mahindra was recognized amongst India’s ‘Most Trusted Companies’ at VARINDIA Infotech Forum 2023</span></div>
                                                            <div class="views-field views-field-body">
                                                               <div class="field-content"></div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <ul class="js-pager__items pager" data-drupal-views-infinite-scroll-pager="">
                                                      <li class="pager__item">
                                                         <a class="button btn btn-default" href="?page=1" title="Go to next page" rel="next">Load More</a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="visual-outer-div ">
                                 <div class="bottom-diagonal visual-top bg-edge2edge">
                                    <div class="banner-media-bottom image top-left bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--visual-breaker-banner paragraph--view-mode--default lazy" id="vbp-32094" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/investor_day_2020-event-2205181649.jpg">
                                       <div class="container" role="region" aria-label=" customer speak">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="cta-box cta-links top-left" data-aos="fade-up">
                                                   <div class="overline-14"></div>
                                                   <h3 class="sub-head2 field field--name-field-bp-headline field--type-string field--label-hidden field__item">Customer Speak</h3>
                                                   <div class="link-normal paragraph paragraph--type--bp-links paragraph--view-mode--default mb-2" id="vbp-32093">
                                                      <a href="/about-us/customer-speak/" target="_blank" class="btn-md btn-secondary btn-square btn-single-layer btn" aria-label="Learn more about Customer Testimonial" title="Learn more about Customer Testimonial">LEARN MORE</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="clip-path">
                                          <div class="progress-area"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
         </div>
               {% endblock %}