{% extends "frontend_templates/base.html" %}
{% load static %} 
{% block content %}               
    <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <div class="col-sm-12" role="banner">
                  <div id="block-techm-breadcrumbs" class="settings-tray-editable block block-system block-system-breadcrumb-block" data-drupal-settingstray="editable">
                     <div class="content">
                        <nav role="navigation" aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                 <a href="/about-us/">About Us</a>
                              </li>
                           </ol>
                        </nav>
                     </div>
                  </div>
                  <div data-drupal-messages-fallback="" class="hidden"></div>
               </div>
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                        <article role="article" about="/about-us/individual-social-responsibility/" class="node node--type-landing-page node--view-mode-full clearfix">
                           <header>
                           </header>
                           <div class="node__content clearfix">
                              <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-13817">
                                 <div class="fullwidth bg-edge2edge">
                                    <div class="container">
                                       <div class="row">
                                          <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                             <div class="show-on-scroll">
                                                <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                   <h1>3-4-3: Going Beyond Business</h1>
                                                </div>
                                             </div>
                                             <div class="show-on-scroll">
                                                <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                   <p><span>Our individual social responsibility initiatives encourage planting 3 trees, taking at least 4 carpools, and devoting 3 hours to volunteer for a cause.</span></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                    <div class="banner-media-bottom image bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default lazy" id="vbp-13816" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/aboutus-individualsocialresponsibility-herobanner-670743272.jpg">
                                       <div class="container">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="hdr-sec-txt-area">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="paragraph--width--full paragraph paragraph--type--introduction paragraph--view-mode--default" id="vbp-13818">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-md-6 col-xs-12">
                                          <h2 class="h6">Individual Social Responsibility</h2>
                                       </div>
                                       <div class="col-md-6 col-xs-12">
                                          <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                             <div class="readmore-summary">
                                                <p>Tech Mahindra’s 3-4-3 growth strategy focuses on 3 megatrends, 4 big bets, and 3 objectives that go beyond business to drive positive changes. By making social responsibility personal, TechMighties go the extra mile to embrace our mission in their daily lives.</p>
                                                <span><a href="https://www.techmahindra.com/about-us/individual-social-responsibility/" class="readless-link readmore-link">More</a></span>
                                             </div>
                                             <div class="readmore-text">
                                                <p>Tech Mahindra’s 3-4-3 growth strategy focuses on 3 megatrends, 4 big bets, and 3 objectives that go beyond business to drive positive changes. By making social responsibility personal, TechMighties go the extra mile to embrace our mission in their daily lives.</p>
                                                <p>We designed a well-defined charter on individual social responsibility (ISR), apart from the Tech Mahindra Foundation, which is an initiative that carries out corporate social responsibility (CSR). As our CEO CP Gurnani puts it, ISR is "an emotional investment that can last a lifetime and beyond, and transform communities for a sustainable future."</p>
                                                <a href="https://www.techmahindra.com/about-us/individual-social-responsibility/" class="readless-link">Less</a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-md bp-padding-left-default bp-padding-right-default bp-padding-top-md paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-13831" role="region" aria-label=" Three Trees">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row">
                                             <div class="align2right order-1 order-lg-2 m-0 p-0 col-lg-6">
                                                <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                   <div class="overflow-img">  <img loading="lazy" src="../../../insights.techmahindra.com/styles/text_and_image_desktop/s3/images/leadingtheway-1066626014.jpg.webp" width="825" height="619" alt="leadingtheway" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="align2left order-2 order-lg-1 wrapper col-lg-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                                <h3 class="sub-head3">Three Trees</h3>
                                                <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                   <p>At the Mahindra Group, we believe that trees are vital for ensuring a healthy living environment. They are pivotal in our collective fight against climate change. We encourage every TechMighty to plant at least three trees each month to do their part and fight deforestation and climate change. We also provide alternatives for those without the resources to do so. For example, associates can choose to adopt three plants instead or participate in our regular plantation drives across multiple locations.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-md bp-padding-left-default bp-padding-right-default bp-padding-top-md paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-13832" role="region" aria-label=" Four Carpools">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row">
                                             <div class="align2left order-1 order-lg-1 m-0 p-0 col-lg-6">
                                                <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                   <div class="overflow-img">  <img loading="lazy" src="../../../insights.techmahindra.com/styles/text_and_image_desktop/s3/images/leadingtheway-1145796254.jpg.webp" width="825" height="619" alt="leadingtheway-1145796254" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="align2right order-2 order-lg-2 wrapper col-lg-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                                <h3 class="sub-head3">Four Carpools</h3>
                                                <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                   <p>TechMighties believe we should leave this world a little better than we found it. With Tech Mahindra’s dedicated carpooling app, associates are encouraged to offer or join shared rides for their daily commute between home and work. We celebrate a special 4P day each month to practice sustainable transportation. The 4Ps include paidal (walk), pedal (cycle), pool (carpool), and public transportation.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="bg-without-opacity bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-xlg bp-padding-left-default bp-padding-right-default bp-padding-top-md paragraph text-and-image-animation paragraph--type--text-and-image paragraph--view-mode--default paragraph--width--full img-transition" id="vbp-13833" role="region" aria-label=" Three Hours">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row">
                                             <div class="align2right order-1 order-lg-2 m-0 p-0 col-lg-6">
                                                <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                                                   <div class="overflow-img">  <img loading="lazy" src="../../../insights.techmahindra.com/styles/text_and_image_desktop/s3/images/leadingtheway-300p-1094439564.jpg.webp" width="825" height="619" alt="leadingtheway-300p-1094439564" typeof="foaf:Image" class="image-style-text-and-image-desktop img-fluid">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="align2left order-2 order-lg-1 wrapper col-lg-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="500">
                                                <h3 class="sub-head3">Three Hours</h3>
                                                <div class="clearfix text-formatted field field--name-field-text-content field--type-text-long field--label-hidden field__item">
                                                   <p>We encourage everyone to spend at least three hours every month volunteering for a social cause they care about. Supported by Tech Mahindra’s Josh team, the Foundation offers a wide range of programmes for associates to choose from. Volunteering for social responsibility initiatives gives us a chance to give back to society and connect with local communities on a deeper level. Tech Mahindra keeps track of each individual’s efforts on an organizational level and shares them regularly with the Mahindra Group’s ESOPs team. Top contributors are rewarded for their efforts and performance.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
    </div>      
{% endblock %}