{% extends "frontend_templates/base.html" %}
{% load static %} 
    {% block content %}
             <div role="main" class="main-container container js-quickedit-main-content">
            <div class="row">
               <section class="main-content col order-last col-sm-12" id="content" role="main">
                  <a href="#main-content" aria-label="This is the main content" id="main-content" tabindex="-1" class="visually-hidden focusable skip-link"></a>
                  <div id="block-techm-content" class="block block-system block-system-main-block">
                     <div class="content">
                        <div class="paragraph maindiagonalbanner paragraph--type--bp-header-section paragraph--view-mode--default" id="vbp-622">
                                 <div class="fullwidth bg-edge2edge">
                                    <div class="container">
                                       <div class="row">
                                          <div class="header-only-for-hero-banner" role="banner" tabindex="0">
                                             <div class="show-on-scroll">
                                                <div class="field field--name-field-bp-headline field--type-string field--label-hidden field__item">
                                                   <div class="content">
                                                      <h1>Terms and Conditions</h1>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="show-on-scroll">
                                                <div class="clearfix text-formatted field field--name-bp-text field--type-text-long field--label-hidden field__item">
                                                   <p>Please review the terms before using this website. By accessing it, you agree to comply. If you disagree, please refrain from using the site.
                                                       <a href="/">www.pinesphere.com</a>
                                                   </p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="bg-edge2edge">
                                    <div class="clip-path">
                                       <div class="progress-area"></div>
                                    </div>
                                    <div class="banner-media-bottom image bottom-right bp-margin-bottom-default bp-margin-top-default bp-padding-bottom-default bp-padding-left-default bp-padding-right-default bp-padding-top-default background-style paragraph paragraph--type--bp-hero-banner paragraph--view-mode--default lazy" id="vbp-634" data-bg="https://insights.techmahindra.com/styles/de2e/s3/images/About%20Us%20-%20GettyImages-1409666463%201About%20Us.jpg">
                                       <div class="container">
                                          <div class="row">
                                             <div class="col-12">
                                                <div class="hdr-sec-txt-area">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                  
                        <article role="article" about="/terms-of-use/" typeof="schema:WebPage" class="node node--type-page node--view-mode-full clearfix">
                           <header>
                              <span property="schema:name" content="Terms of Use" class="rdf-meta hidden"></span>
                           </header>
                           <div class="node__content clearfix">
                              <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                 
                                 <ul>
                                    <li><strong>Acceptance of Terms: </strong>Your use of this site (pinesphere.com) is contingent upon your acceptance of the terms and conditions stated in this agreement. 
                                    This agreement is the exclusive and comprehensive understanding between you and us, superseding any previous agreements, representations, warranties, or understandings regarding the site, its content, and the services offered. 
                                    We reserve the right to amend this agreement at any time without specific notice. 
                                    The latest version will be available on the site, and it is advisable to review it before using the site.</li>
                                    <li><strong>Copyright: </strong>The content, organization, graphics, design, and other aspects of the site are safeguarded by applicable copyrights and other proprietary laws. 
                                    Unauthorized copying, reproduction, modification, use, or publication of any part of the site is strictly prohibited without our explicit prior written consent.</li>
                                    <li><strong>Editing and Deletion: </strong>We retain the discretion to edit or delete any documents, information, or content on the site, including this agreement, without any obligation or notice to you.</li>
                                    <li><strong>Indemnification: </strong>You agree to indemnify, defend, and hold us and our officers and employees harmless from any liability, loss, damage, claim, or expense, including reasonable attorney's fees, arising from your violation of this agreement or your use of the site.</li>
                                    <li><strong>Limits: </strong>We disclaim any responsibility or liability for damages caused by viruses within electronic files. 
                                    We are not liable for any incidental, special, or consequential damages resulting from the use or inability to use the site.</li>
                                    <li><strong>Third-Party Websites: </strong>While on third-party linked websites, you are subject to their rules, terms, conditions, and policies. 
                                    We are not responsible for the content, accuracy, or opinions expressed on such websites. 
                                    Inclusion of a linked website on our site does not imply our approval or endorsement. 
                                    Both this site and third-party linked websites are independent entities, and neither party has the authority to make representations or commitments on behalf of the other. 
                                    If you choose to leave our site and access third-party linked sites, you do so at your own risk.</li>
                                          
                                 </ul>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </section>
            </div>
         </div>
    {% endblock %}