{% extends "base.html" %}
{% block content %}
    <!-- End Navbar -->
    <section class="features-section">
      <div class="container">
          <div class="features-grid">
              <a href="{%url 'report_admin' %}" class="feature-card">
                  <h5>Views</h5>
              </a>
              <a href="{%url 'job_report'%}" class="feature-card">
                  <h5>Job</h5>
              </a>
              <a href="{%url 'newsletter_subscribers_report'%}" class="feature-card">
                  <h5>Subscribers</h5>
              </a>
              <a href="{% url 'internship_report'%}" class="feature-card">
                  <h5>Internship</h5>
              </a>
              <a href="{% url 'contactus_report'%}" class="feature-card active">
                  <h5  style="color: #fff;">Contact Us</h5>
              </a>
          </div>
      </div>
  </section>
  
  <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Enquiry Details</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="row">
                        <!-- Form Column -->
                        <div class="col-12 col-md-6">
                            <form method="GET" action="{% url 'report_admin' %}">
                                <div class="d-flex align-items-center flex-wrap" style="margin: 10px;">
                                    <div class="nice-form-group me-2"> <!-- Added margin end -->
                                        <label for="start_date" class="small">Start Date:</label>
                                        <input type="date" name="start_date" id="start_date" class="form-control form-control-sm" value="{{ request.GET.start_date }}">
                                    </div>
                                    <div class="nice-form-group"> <!-- Removed margin from here -->
                                        <label for="end_date" class="small">End Date:</label>
                                        <input type="date" name="end_date" id="end_date" class="form-control form-control-sm" value="{{ request.GET.end_date }}">
                                    </div>
                                </div>
                                <div class="form-group mt-3" style="margin-left: 10px;">
                                    <button type="submit" class="btn btn-primary btn-sm me-2">
                                        <i class="fas fa-filter fa-lg" style="font-size: 1rem;"></i>
                                    </button>
                                    <a href="{% url 'report_admin' %}" class="btn btn-secondary btn-sm">
                                        <i class="fas fa-times fa-lg" style="font-size: 1rem;"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Scrollable Table Container -->
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Date</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Type of Enquiry</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Name</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Email</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Phone</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Message</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Subscribe</th>
                                    <th class="text-center text-uppercase text-secondary font-weight-bolder" style="font-size: 1.2rem; opacity: 1;">Agreed Terms</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for enquiry in page_obj %}
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ enquiry.timestamp }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ enquiry.type_of_enquiry }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ enquiry.first_name }} {{ enquiry.last_name }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ enquiry.email_address }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ enquiry.phone_number }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ enquiry.message }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm {{ enquiry.subscribe_me|yesno:'bg-gradient-success,bg-gradient-danger' }}">{{ enquiry.subscribe_me|yesno:'Yes,No' }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm {{ enquiry.agree_terms|yesno:'bg-gradient-success,bg-gradient-danger' }}">{{ enquiry.agree_terms|yesno:'Yes,No' }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination with clickable page numbers -->
                    <div class="pagination-container text-center mt-3">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">Prev</a>
                            </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            {% if num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                            {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">{{ num }}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

  


    </div>
  {% endblock %}